[2021-08-24 04:09] KamalSinghKhanna opened #6 "Existing color is too light"
As we can see in the team section that Team members bios are not visible the existing color is too light, maybe we can change it to some other color like black.

`.team .member p {
    padding-top: 8px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
`
you can see this [here](https://github.com/kunal-kushwaha/commclassroom/blob/master/assets/css/style.css) on lines 980 to 985.

[2021-08-24 16:00] harkiratsm opened #7 "Shifting the code base to React js"
I have the idea of shifting the code base to Reactjs , As this would create a awareness of learning react and more & more people would be able to contribute to this Repo , I with this amazing community member can make it possible . Rest @kunal-kushwaha decision lie upon you .

Regards
Harkirat Singh
(Student at Community Classroom)

[2021-08-25 10:03] kunal-kushwaha commented on #7
we are already working on it and will open issue soon

[2021-08-25 10:03] #7 closed

[2021-08-25 10:03] kunal-kushwaha commented on #6
thanks

[2021-08-25 10:03] #6 closed

[2021-08-25 13:45] rohan-kulkarni-25 opened #8 "[ Enhancement ] Adding Compressed Images"
## Adding Images by compressing will help in loading quickly and also help to get content loaded in less bandwidth.

### Will like to give my small contribution :)

[2021-09-03 05:59] RAMESSESII2 opened #21 "Need to Update readme.md to whatever latest commits are there and details about building locally."

[2021-09-06 15:58] kunal-kushwaha opened #25 "Migrate frontend to React"
- [ ] Migrate the frontend to React
- [ ] Feel free to make the UI cleaner
- [ ] Remove the Login button for now from UI

Action items:
- [ ] Set up the project
- [ ] Create individual issues

[2021-09-06 15:59] ritik-vashist commented on #25
I would like to work on it.

[2021-09-06 15:59] kunal-kushwaha opened #26 "Create docs after #25 is merged"

[2021-09-06 16:04] shreyas1925 commented on #25
I'm in

[2021-09-06 16:04] RakeshPotnuru commented on #25
Atleast ONE person should create all the components according to the project structure, so that people can work on individual components.

[2021-09-06 16:05] perveen-neha commented on #25
@RakeshPotnuru  I think you are right ... we should do it in a planned manner

[2021-09-06 16:08] ashwinexe commented on #25
Typo on 3rd point it's *Remove

[2021-09-06 16:08] tarunchoudhary1805 commented on #25
i will also work on it

[2021-09-06 16:09] harkiratsm commented on #25
Hi kunal , I have previously worked on causefolio where Abhishek was mentor and this project was under u . Hope it clear thing . I can setup the repo and basic things and also work as a maintainer for this repo . 🚀

[2021-09-06 16:09] tusharsadhwani commented on #25
I can help

[2021-09-06 16:09] HarshVardhan-Omar commented on #25
Will Take it

[2021-09-06 16:10] vd-37 commented on #25
I can contribute to this.

[2021-09-06 16:10] yash9263 commented on #25
I would like to contribute. Can we use Nextjs?

[2021-09-06 16:11] dn-flixee commented on #25
I'm in

[2021-09-06 16:12] TheNinza commented on #25
Hey Kunal. I would love to work on this.

[2021-09-06 16:12] kunal-kushwaha commented on #25
@harkiratsm @HarshVardhan-Omar just gave you write access. You can collab with people who have showed interest in this chat and get the frontend ready.

Make sure all discussions are in the channel on Discord. I'll make a channel for this issue.

[2021-09-06 16:13] harshalkaigaonkar commented on #25
@kunal-kushwaha I also want to maintain this repo..

[2021-09-06 16:13] saurabh-chaudhary-git commented on #25
What would be the next step? So, that we all can move in a cohesive manner?

[2021-09-06 16:14] divyanshu-parihar commented on #25
Someone should make a overall wrapper , so people can individually make small components

[2021-09-06 16:14] Zishan-7 commented on #25
I would love to contribute.

[2021-09-06 16:15] Tanish2000 commented on #25
I would love to contribute.

[2021-09-06 16:15] divyanshu-parihar commented on #26
Is there any need of  package to be used to generate  docs.

[2021-09-06 16:16] sahajkedia commented on #25
I would like to contribute.

[2021-09-06 16:16] AbhishekBhatt072003 commented on #25
Hey Kunal if you don't mind I can help with this. I would love to do.
I think we had to work on react to create the different components for different sections of website.
If I am not wrong.

[2021-09-06 16:16] kunal-kushwaha commented on #25
@harkiratsm @HarshVardhan-Omar you working on this right?

[2021-09-06 16:17] HarshVardhan-Omar commented on #25
Yaa sure

[2021-09-06 16:18] SoulNinja-dev commented on #25
@HarshVardhan-Omar check out the discord channel for the page layout, and components needed

[2021-09-06 16:18] harshalkaigaonkar commented on #25
@kunal-kushwaha could I as well..

[2021-09-06 16:19] Anubhavdxt commented on #25
I also want to work on it.

[2021-09-06 16:19] Kunal0007 commented on #25
@HarshVardhan-Omar Can I would like to contribute

[2021-09-06 16:21] divyanshu-parihar opened #28 "Splitting to micro-services"
As this website is going to be a open source from very start , And a major focus of making this website  is to make people more aware  about open source  .A better idea would be  to split this project into small micro-services . So someones changes doesn't  affect anyone else changes much and bug fixing can be easily  done . And as we can see many people are willing to contribute , changes  can be

[2021-09-06 16:29] SoulNinja-dev opened #29 "Frontend Structure"
- #33

### USER - SECTION
- #30
- User dashboard - page
	- enrolled courses
	- courses list
	- pie charts with data

- User profile - page
	- Details

- User settings - page
	- basic stuff ( username change, password, email etc )

### COURSES - SECTION
- #31
- Courses list - page
	- filtering, favourites etc
	- Custom course list ( topic based courses eg dsa, dev )

- Particular course details - s

[2021-09-06 16:30] SoulNinja-dev opened #30 "User page"
// clone khan academy homepage

## side bar
- Progress
- Show Course list
- Certificates
- Edit profile button

## main
- Resume my Courses
- show xp (xp increases after every video ( like khan academy and codedamn ))

- contact us
- cc

[2021-09-06 16:31] SoulNinja-dev opened #31 "Courses page"
- Search bar
	- To search for particular course / topic

- Grid of all courses with thumbnail
	- button - learn more which takes to [[parti-course page]]
	- button - to add to favourite

- Option to filter / sort
	- Filter by Topic
	- Filter by creator ( if there's gonna be more teachers )
	- Filter by length
	- Filter by rating
	- Filter by Level ( beginner, advanced )

- Custom course list (only

[2021-09-06 16:31] SoulNinja-dev opened #32 "Course management"
- List of all courses - PAGE
	- Details
	- Archive course from public ( disable endpoint in public authentication )
	- Update course info
	- Delete course from archive

- Archived courses - PAGE

- List of stale courses - PAGE
	- Courses which are getting very little to no views/interaction

[2021-09-06 16:31] SoulNinja-dev opened #33 "homepage"
## NAVBAR
-	Categories (dropdown)
	-	Will have all the topics which we have courses in
	-	![[Pasted image 20210827215535.png]]

- Search Bar
	- Search for creators
	- Search for courses
	- Search for Topic

- Profile Button
	- Takes to [[user page]]
	- Redirects to '/' if user not authenticated / logged in

- University Leader

- About Us

- Donate

- Login / Register
	- Changes to Log out once th

[2021-09-06 16:31] SoulNinja-dev opened #34 "user management"
- List of all users (google sign in name) (view)
	-	courses enrolled
	-	comments
	-	progress

- Ban user
	- Blocks ip
	- shows blocked page with unban request form

- Stale Users
	- Users who haven't logged in 90 days

[2021-09-06 16:33] harshalkaigaonkar commented on #33
@SoulNinja-dev how to move forward with this issue?

[2021-09-06 16:33] yash0501 commented on #31
I would like to work on this issue.

[2021-09-06 16:33] rwiteshbera commented on #25
I would like to contribute in this project.

[2021-09-06 16:35] yash0501 commented on #25
I would like to contribute to this project

[2021-09-06 16:36] Kunal0007 commented on #33
Can I work on this issue?

[2021-09-06 16:38] harshalkaigaonkar commented on #33
Can I work on this issue too?

[2021-09-06 16:42] SoulNinja-dev commented on #25
Please check out #29 for the structure for the website

[2021-09-06 16:43] AbhishekBhatt072003 commented on #31
I think we have to split all the sections of course page into different components using react.js . That is what Kunal was saying If I am not wrong.
and for custom code list and fav list we need the access for the database to check user if they are signed in or not.

If you don't mind can I handle this issue.

[2021-09-06 16:45] Ciggzy1312 commented on #33
If not yet assigned to anyone I can work on this issue

[2021-09-06 16:45] harkiratsm commented on #29
I am willing to work For this issue and for this community .

[2021-09-06 16:47] rwiteshbera commented on #29
I would like to work on this issue.

[2021-09-06 16:47] kunal-kushwaha commented on #29
Great work @SoulNinja-dev

[2021-09-06 16:49] Suyious commented on #25
I've worked with React and I looked at the overall plan for the website. I would like to work on this.

[2021-09-06 16:50] saif-malik-01 commented on #28
Front-end work is not started yet. It is good if UI gets ready, then we think to implement the backend.

[2021-09-06 16:51] RakeshPotnuru commented on #29
@harkiratsm
I think Kunal already assigned the issue to you - #25

[2021-09-06 17:12] sridhar-5 opened #35 "DSA-Bootcamp-content Video frame is shrunk"
<img width="1792" alt="Screenshot 2021-09-06 at 10 39 00 PM" src="https://user-images.githubusercontent.com/65086710/132248019-0d1c568a-c47f-4b84-9c35-3183838a3ac9.png">

[2021-09-06 17:13] sridhar-5 commented on #35
I would like to work on this issue. Can I?

[2021-09-06 17:24] samjn08 commented on #35
But it's fine on the hosted website. Try to refresh!

[2021-09-06 17:26] NimishKashyap commented on #25
I would like to work on the front end as well as the backend!

[2021-09-06 17:26] sridhar-5 commented on #35
I Just tried. It's still the same. If it's dependent on browser then I'm on safari.

[2021-09-06 17:30] sridhar-5 commented on #35
okay. I just tried it on Chrome. Looks fine but safari this happens.

[2021-09-06 17:44] unknownBalak commented on #25
Hey, I don't have previous knowledge of working with open source. I have good knowledge of React. Love to contribute here.

[2021-09-06 18:40] praveenscience opened #37 "Create the routes."

[2021-09-06 18:40] praveenscience opened #38 "Add Home Route."

[2021-09-06 18:41] praveenscience opened #39 "Add Dashboard Route."

[2021-09-06 19:12] praveenscience opened #40 "Add Single Course Route."

[2021-09-06 19:12] praveenscience opened #41 "Add Courses List Route."

[2021-09-06 19:12] praveenscience opened #42 "Dashboard: Fetch a user's enrolled course info."

[2021-09-06 19:12] praveenscience opened #43 "Dashboard: Create Pie Chart for Completion status."

[2021-09-06 19:12] praveenscience opened #44 "Dashboard: Implement a Pie Chart or a good charting plugin."

[2021-09-06 19:12] praveenscience opened #45 "Dashboard: Create Pie Chart for Technologies completed."

[2021-09-06 19:12] praveenscience opened #46 "Dashboard: Fetch a user's course suggestions."

[2021-09-06 19:12] praveenscience opened #47 "User Profile: Placeholder for sections: Basic Details, Education Details and Contact Details."

[2021-09-06 19:12] praveenscience opened #48 "User Profile: Create the basic component."

[2021-09-06 19:12] praveenscience opened #49 "User Profile: Fetch the Education Details."

[2021-09-06 19:12] praveenscience opened #50 "User Profile: Fetch the Contact Details."

[2021-09-06 19:12] praveenscience opened #51 "User Profile: Fetch the Basic Details."

[2021-09-06 19:12] praveenscience opened #52 "User Settings: Create the basic component."

[2021-09-06 19:13] praveenscience opened #53 "User Settings: Create a common Form Component."

[2021-09-06 19:13] praveenscience opened #54 "User Settings: Create form for Edit Basic Details."

[2021-09-06 19:13] praveenscience opened #55 "User Settings: Create form for Edit Education Details."

[2021-09-06 19:13] praveenscience opened #56 "User Settings: Create a Modal Confirm Dialog for Delete Account."

[2021-09-06 19:13] praveenscience opened #57 "User Settings: Create form for Edit Contact Details."

[2021-09-06 19:13] praveenscience opened #58 "User Settings: Create form for Change Password."

[2021-09-06 19:13] praveenscience opened #59 "User Settings: Placeholder for sections: Edit Basic Details, Edit Education Details, Edit Contact Details, Change Password and Delete Account."

[2021-09-06 19:13] praveenscience opened #60 "Courses List: Fetch and Display Custom Course Lists."

[2021-09-06 19:13] praveenscience opened #61 "Courses List: Create the basic component."

[2021-09-06 19:13] praveenscience opened #62 "Courses List: Placeholder for Filters & Sorting Options, Favourite / Saved Courses and Custom Course Lists."

[2021-09-06 19:13] praveenscience opened #63 "Courses List: Create Filters & Sorting Options."

[2021-09-06 19:13] praveenscience opened #64 "Courses List: Fetch Favourite / Saved Courses."

[2021-09-06 19:13] praveenscience opened #65 "Course Detail Page: Create the basic component."

[2021-09-06 19:14] praveenscience opened #66 "Course Detail Page: Placeholder for sections: About the Course, About the Author and Comments & Rating."

[2021-09-06 19:14] praveenscience opened #67 "Course Detail Page: Fetch About the Author Info."

[2021-09-06 19:14] praveenscience opened #68 "Course Detail Page: Fetch About the Course Info."

[2021-09-06 19:14] praveenscience opened #69 "Course Detail Page: Create a Nested Comments component."

[2021-09-06 19:14] praveenscience opened #70 "Course Detail Page: Find a suitable plugin for Rating and display.."

[2021-09-06 19:14] praveenscience opened #71 "Course Detail Page: Create a Comments & Rating Component."

[2021-09-06 19:14] praveenscience opened #72 "Course Enrolment Journey: Add a Wizard of Steps of Enrolment."

[2021-09-06 19:14] praveenscience opened #73 "Course Enrolment Journey: Create a basic User Interface."

[2021-09-07 04:35] jaysomani commented on #57
hey i would like to work on it

[2021-09-07 04:45] AsswinCR commented on #25
I would like to contribute :) !!

[2021-09-07 05:00] alceil commented on #25
Can I work on this issue? I would like to help I have experience in making seperate react components before!

[2021-09-07 06:21] kulkarnigaurav38 commented on #25
I would also like to contribute, I have intermediate knowledge of React:)

[2021-09-07 10:21] varunpusarla commented on #25
I would like to contribute as wel.

[2021-09-07 10:21] daredevilteja commented on #25
I have already created the overall wrapper and created components for people to contribute. the pull request is #79 and the branch is react-rewrite. @harkiratsm @HarshVardhan-Omar Please review my code and accept the pull request

[2021-09-07 13:16] anupamishra333 commented on #21
@RAMESSESII2 @kunal-kushwaha I would like to work on this issue.

[2021-09-07 13:27] TvishaRaji commented on #29
I would like to work on this

[2021-09-07 13:50] MukulsinghRajpurohit opened #81 "add a opportunity section"
i think we should also add opportunity section such he/she can directy jump to main website without wasting time.
this will we help full that all the opportunity can be seen at one place through there respective links.

[2021-09-07 13:59] MukulsinghRajpurohit commented on #81
in this we have to update website time to time . this may also useful for those people who are stater at open source or want to contribute in communtity by regularly removing dead links adding new stuffs  by them self will give feel to do more.

[2021-09-07 15:33] amandugar commented on #29
I would Like to work on this

[2021-09-07 20:15] eshan1925 commented on #46
Hello, what is the issue?

[2021-09-08 00:17] samjn08 opened #83 "Migrate the frontend to React"

[2021-09-08 00:18] #83 closed

[2021-09-08 10:34] eshan1925 commented on #81
What kind off opportunity do you want ot implement

[2021-09-08 13:43] TvishaRaji commented on #30
@SoulNinja-dev Hey can I work on the side bar ?

[2021-09-08 14:08] dhananjayandayalan commented on #25
I would love to contribute. I've moderate knowledge of React.

[2021-09-08 17:52] RagibAjmal commented on #25
I am interested in contributing

[2021-09-09 04:54] FirdausJawed opened #89 "add extra features"
_**_you can add some doubts section or a comment section where you can get to know about the main difficulties that students are facing.
And also you can have an an about what to next and what course you should launch_**_

[2021-09-09 15:10] soamtripathy opened #92 "Dark Mode Preview"
We can add dark mode to this website. This will be very relaxing for our eyesight.

[2021-09-09 15:20] RagibAjmal commented on #92
There is a pull request for dark mode [https://github.com/commclassroom/commclassroom/pull/86](url) already

[2021-09-10 12:42] MukulsinghRajpurohit commented on #81
About open source, jobs, competition etc.

[2021-09-10 14:21] HameedMulani commented on #92
I will work on it, but other also do this. so we compare code. and then go for MERGINATION.

[2021-09-11 02:35] Krishnaraj-shankar opened #95 "Course details : Repetition of same courses"
Path : explore more courses

There is a repetition of the same web development course for multiple times

Mobile view :

![IMG_20210911_075816](https://user-images.githubusercontent.com/85430880/132933306-6db94765-a888-44d6-8476-0095e9f83980.jpg)

Desktop view :

![IMG_20210911_080338](https://user-images.githubusercontent.com/85430880/132933350-4749379b-3b9f-4c8f-b293-e46740d17c5e.jpg)

[2021-09-11 02:38] Krishnaraj-shankar commented on #95
@Kunal0007

[2021-09-11 07:48] Kunal0007 commented on #95
Currently, the frontend is migrating to React.

[2021-09-11 07:51] Krishnaraj-shankar commented on #95
Then, I close this issue

[2021-09-11 07:51] #95 closed

[2021-09-11 12:30] Mohit-Swain opened #96 "Add Footnotes/description under course content videos"
To add a Footnote section under the course video, which will
- give a brief intro to the topic of the video.
- give assignments question/notes according to the topics. from https://github.com/kunal-kushwaha/DSA-Bootcamp-Java.git
- suggest further reading / more resources etc.

[2021-09-11 14:46] RakeshPotnuru opened #97 "Forums"
The **Community Classroom** should have an official forums page for doubts related to course content or community. I know we have discord for this purpose but it's more like a chat app and not an effective solution for clearing doubts.

[2021-09-12 12:52] Mayank-Sh07 commented on #33
I would also like to develop the Navbar and related components! (React + TypeScript)

[2021-09-12 12:54] Mayank-Sh07 commented on #30
Hey @SoulNinja-dev, I'd like to develop these components. I've used Material UI to develop many responsive sidebars. I can write vanilla CSS as well.

[2021-09-14 08:35] kaif3120 opened #98 "Login and signup button not working"
when we go to website and click to get logged in or signed up the button isn't working

[2021-09-14 08:37] kaif3120 opened #99 "No description on the eligibility criteria for the certification"
The DSA course says there will be a certificate for the course but how would we know whether one is eligible. I have been following the course on youTube so will I be eligible too because even on the website the streaming is from youtube only

[2021-09-14 14:24] SoulNinja-dev commented on #33
Hey please ping @praveenscience for issues related to frontend :)

[2021-09-14 14:44] SoulNinja-dev commented on #30
@praveenscience is handling frontend.

[2021-09-14 17:01] Mayank-Sh07 commented on #33
Okay! @praveenscience I'd love to contribute by building the Navbar and related components, please assign this issue to me! 😁

[2021-09-15 09:48] NasratTalash commented on #25
I would also be very happy to contribute to this, how we can start contributing where is the repo?

[2021-09-16 06:52] monesha-goutham commented on #98
I guess that feature is not necessary. As we're not really saving our progress on the course lectures we've viewed or the assignments completed and such. So, the signing feature seems irrelevant as of now

[2021-09-16 18:15] tejaswini22199 commented on #31
Hi, @SoulNinja-dev  I would like to work on this issue.

[2021-09-17 03:35] #28 closed

[2021-09-17 16:45] SaNsK11 opened #103 "Typo : Subscribe our YouTube channel"

[2021-09-17 16:50] SaNsK11 commented on #103
PR created

[2021-09-17 17:03] SaNsK11 opened #105 "Typo : Share us on Socials"

[2021-09-18 08:22] abrahamalen opened #107 "Login/Signup button not working"
The button for login/signup is not working. Add a form to signup/login if the form is not added or check the bug happened with the button tag

[2021-09-18 16:07] RAMESSESII2 commented on #21
hey, just do it, raise a PR, and ask questions,  this is a very friendly community of learners.

[2021-09-18 16:33] anupamishra333 commented on #21
Already raised a PR kindly Check and Merge if it is alright.

On Sat, Sep 18, 2021, 9:37 PM Satyam Bhardwaj ***@***.***>
wrote:

[2021-09-19 06:36] FirdausJawed commented on #89
assign this to me if u find the idea nice

[2021-09-19 10:13] Shivansh-yadav13 commented on #25
I would also like to contribute.

[2021-09-21 00:15] farseenmanekhan1232 commented on #99
Kunal never said there is any minimum eligibility criteria for learning dosa .

[2021-09-21 20:45] 17bcs1837 commented on #107
I would like to work on this issue. Please assign me this issue.
I see that no login/signup form exists, as a result, no value has been provided to the "href" attribute of the Login/Signup button.

Also, please tell me:
Do we need a separate page for login/signup forms (or)
Integrate the forms on the landing page?

[2021-09-25 08:59] kunal-kushwaha commented on #105
?

[2021-09-25 08:59] #105 closed

[2021-09-25 08:59] #103 closed

[2021-09-25 11:24] Ash-ishJ opened #113 "Contact Us in navbar is not getting highlighted"
On clicking Contact Us, page is getting scrolled to Contact section but, Contact Us option in navigation menu is not getting highlighted.

[2021-09-26 10:24] #92 closed

[2021-09-26 10:27] kunal-kushwaha opened #115 "Dark mode button not working"

[2021-09-26 10:27] kunal-kushwaha commented on #115
@Shivansh-yadav13 can you please look into it? I merged this PR https://github.com/commclassroom/commclassroom/pull/114

[2021-09-26 10:58] kunal-kushwaha opened #117 "Change footer UI to match with the rest of the theme"
![Screenshot 2021-09-26 at 4 28 19 PM](https://user-images.githubusercontent.com/42698533/134804905-c159f6da-0c94-4a00-a023-5dd82a7d3b33.png)

[2021-09-26 11:00] ShivamTyagi12345 commented on #117
I would like to help

[2021-09-26 11:15] Shivansh-yadav13 commented on #115
@kunal-kushwaha I have Fixed it, making a pr

[2021-09-26 11:37] kunal-kushwaha opened #120 "Align "Contact Us" with the logo"
![Screenshot 2021-09-26 at 5 07 13 PM](https://user-images.githubusercontent.com/42698533/134806018-1eea319e-94e5-4770-bf31-9bff9b5865fa.png)

[2021-09-26 13:02] #120 closed

[2021-09-26 13:09] vaibhavch11 commented on #117
![Screenshot (121)](https://user-images.githubusercontent.com/66193463/134809451-ec599a14-1c57-401a-b4ac-34a8e3583549.png)

[2021-09-26 13:36] Vaibhav-Singh21 commented on #117
is this issue still open

[2021-09-26 16:11] #117 closed

[2021-09-26 16:11] #107 closed

[2021-09-26 16:11] #99 closed

[2021-09-26 16:11] #98 closed

[2021-09-26 16:12] #113 closed

[2021-09-26 16:12] #97 closed

[2021-09-26 16:12] #96 closed

[2021-09-26 16:13] kunal-kushwaha commented on #89
later

[2021-09-26 16:13] #89 closed

[2021-09-26 16:13] kunal-kushwaha commented on #81
good idea, one for later

[2021-09-26 16:13] #81 closed

[2021-09-26 16:14] #26 closed

[2021-09-26 16:14] #21 closed

[2021-09-26 16:32] arpitghura commented on #29
I want to work on this issue for the courses section

[2021-09-26 23:44] anubha-v-ardhan opened #128 "Overlapping in "NUMBERS SAY IT ALL" section on mobile version"
As shown in screenshot below, the terms `40000+`, `2000+` and `75000+`, `500+` overlap each other

OS: Android 11
Screen size: 6.5 inch 20:9
Browser: Google Chrome for Android

<img src="https://user-images.githubusercontent.com/71918957/134828048-f6748a46-ad6c-4fed-936b-f27dd29034e3.jpg" width="250">

[2021-09-27 05:24] kaiwalyakoparkar opened #129 "Add issues template"
As of now, there is just a normal issue opening method. We would like to have issue templates namely `Bug`, `Feature`, `Other` in the most recent `.yml` format

[2021-09-27 05:25] Harshal0902 commented on #129
@kaiwalyakoparkar can I work on this issue?

[2021-09-27 05:26] Soham041201 commented on #129
Can i work on this?

[2021-09-27 05:26] kaiwalyakoparkar opened #130 "Add PR template"
Currently, the repo doesn't have any template for PR. This issue is for PR template in `.md` format

[2021-09-27 05:27] harkiratsm commented on #130
Already Done @kaiwalyakoparkar

[2021-09-27 05:27] siddhi-244 commented on #130
Can I try it ?

[2021-09-27 05:28] HarshS1611 commented on #130
@kaiwalyakoparkar  may i work on this issue?

[2021-09-27 05:36] AKSHATNEMA commented on #128
Yeah, I am working on this issue. I will make PR as soon as possible.

[2021-09-27 05:39] vaibhavch11 commented on #129
@kaiwalyakoparkar so you want us to create issues related to Bug,Feature..etc,Is that what its means if i am not wrong?

[2021-09-27 05:45] Soham041201 opened #131 "bug: 'Home' and 'Team' Button highlighted when clicked on the contact us button"
Whenever we click on the contact us button on the home page, both home page button and team button gets highlighted, Also when clicked on the About us button, even the home button gets highlighted.

[2021-09-27 05:50] AKSHATNEMA commented on #128
Hey Contributors and admin of this repository, kindly check the below Screenshot whether it is correct or not.I have corrected the mobile view of the count's section in this way.

![image](https://user-images.githubusercontent.com/76521428/134851685-2c60e96d-d0c0-417f-891f-a0fa482fd9cb.png)

[2021-09-27 06:23] symaticvisuals commented on #25
Hey is this issue still open? I would like to work on this.

[2021-09-27 06:25] harkiratsm commented on #128
Great !!

[2021-09-27 06:38] kaiwalyakoparkar commented on #128
@AKSHATNEMA Have you created PR for this? I don't see a relative PR. Could you please link the pr here?

[2021-09-27 06:52] kaiwalyakoparkar commented on #131
@Soham041201 Could you please attach images, gif's demonstrating the issue so that others can try recreating it on their end?

[2021-09-27 06:55] harkiratsm opened #135 "ADD MORE DETAILS IN CONTRIBUTING.md"
Branch - ``` Development```

File Name - CONTRIBUTING.md

Changes Required - ADD more details like photos on how to fork , so it would be easy for beginner to setup .

[2021-09-27 06:56] Soham041201 commented on #131
Actaully i have fixed this issue . Rased a PR #133

[2021-09-27 06:58] AvineshTripathi commented on #135
Please assign me this

[2021-09-27 07:41] SUKHJIT-CYBER commented on #130
/assign

[2021-09-27 07:59] TMahato commented on #129
###ISSUE TEMPLATES
With issue forms, you can create issue templates that have customizable web form fields. You can encourage contributors to include specific, structured information by using issue forms in your repository.

Here's a sample version of the issue form
![126118262-d648daeb-49d3-4034-a7f4-17e74890b1ee](https://user-images.githubusercontent.com/80240317/134867888-557a1739-923b-4302-81c

[2021-09-27 08:21] satyamgupta1495 opened #138 "Text alignment issue in contact-us section [i-pad view]"
![contact-us](https://user-images.githubusercontent.com/51158766/134870776-45ac61ce-3038-4afb-a540-c699801fdb52.jpeg)

[2021-09-27 08:22] satyamgupta1495 commented on #138
I wanna work on this issue!

[2021-09-27 08:36] bharati-21 commented on #63
Hi Praveen,

I would like to work on this for Hacktoberfest'21. Please do provide additional details if possible for the issue.

Thank you.

[2021-09-27 08:39] bharati-21 commented on #60
Hi @praveenscience,

I'm interested in this issue. Kindly provide additional details.
Thank you.

[2021-09-27 09:41] TMahato commented on #138
### I can solve this issue

![Screenshot (1442)](https://user-images.githubusercontent.com/80240317/134884562-99c38a8b-d25c-4d57-81c6-69152d97a4b0.png)

[2021-09-27 09:41] aerosol-can commented on #130
can i be assigned this issue?

[2021-09-27 12:09] kunal-kushwaha opened #141 "Fix individual courses page"
![Screenshot 2021-09-27 at 5 29 46 PM](https://user-images.githubusercontent.com/42698533/134903898-dd8e4d2c-7b5c-499e-8355-2cd0acaa1c48.png)

- [ ] remove bottom space from footer
- [x] make sure footer content is same as homepage
- [ ] add 3 buttons below every video
    - [ ] assignment
    - [ ] code
    - [ ] youtube
- [x] remove login/signup from every course page

[2021-09-27 12:10] #115 closed

[2021-09-27 12:11] Bhavyajain21 commented on #141
I would like to work on this issue.

[2021-09-27 12:11] Ayan-thecodeking commented on #141
Can I work on this issue @kunal-kushwaha

[2021-09-27 12:14] kunal-kushwaha opened #142 "Dark theme not working in Safari"
![Screenshot 2021-09-27 at 5 44 27 PM](https://user-images.githubusercontent.com/42698533/134905925-3257f916-902e-4fd9-9476-1faf7199549a.png)

[2021-09-27 12:16] kunal-kushwaha commented on #141
go ahead

[2021-09-27 12:16] Akshad16 commented on #141
hey i can work on this issue.

[2021-09-27 12:21] #142 closed

[2021-09-27 12:32] Sin-Sumit commented on #130
@kaiwalyakoparkar Please assign me to do it.

[2021-09-27 12:34] oneknucklehead commented on #141
hey? can someone elaborate on the "remove bottom space from footer" part.
do we just have to align icons to the center like in the homepage?

[2021-09-27 12:36] Bhavyajain21 commented on #141
When I am opening the website on my laptop, there's no such space there at the bottom.

[2021-09-27 12:37] oneknucklehead commented on #141
Exactly. I have edited my comment. please check

[2021-09-27 12:38] oneknucklehead commented on #141
Exactly. I have edited my comment, please check if we have to do something similar to that

[2021-09-27 12:39] shreyanshmalvya commented on #130
@kaiwalyakoparkar The development branch already has a Pull Request Template, Do we need to add PR template for the  master branch? Or update the one in development branch?

[2021-09-27 12:40] Bhavyajain21 commented on #141
Yes, I guess.

[2021-09-27 12:45] Bhavyajain21 commented on #141
Hey, I have sent you a connection request on LinkedIn. Let's Connect.

[2021-09-27 12:46] merouanezouaid commented on #141
I'd work on it

[2021-09-27 12:58] vish-han commented on #141
Can I work kunal plzzzzzzz

[2021-09-27 13:04] oneknucklehead commented on #141
Hey @kunal-kushwaha, is something like this cool?
![edit](https://user-images.githubusercontent.com/75200954/134913641-44b0b9b8-dcfe-41f4-907e-7e95525662cd.JPG)

[2021-09-27 13:04] kunal-kushwaha commented on #141
send screenshot of entire page

[2021-09-27 13:06] oneknucklehead commented on #141
![edit](https://user-images.githubusercontent.com/75200954/134914154-cd1f4d0c-4925-4d69-a24d-27f5afd130b3.JPG)

[2021-09-27 13:08] kunal-kushwaha opened #145 "Change UI of courses page"
Change the UI of the following pages to match with the main page:
- https://commclassroom.org/courses.html
- https://commclassroom.org/course-single/java-dsa-bootcamp.html
- https://commclassroom.org/course-single/git-github.html

[2021-09-27 13:29] vish-han commented on #145
Can i do it @kunal-kushwaha ? what kind of changes you would like to see??

[2021-09-27 13:29] himanshu211raj opened #146 "There is no responsivenss in website footer specially"
![image](https://user-images.githubusercontent.com/55490277/134918001-01a7f44d-45cb-4b90-b4da-529bb205a6a2.png)

[2021-09-27 13:43] deeksha-singh030 opened #147 "Theme button is not working for specific courses"
Theme button is not working in the specific course page and after accessing the course.

[2021-09-27 13:47] vish-han commented on #146
please assign me I'm working on it ...

[2021-09-27 13:47] Bhavyajain21 commented on #141
![image](https://user-images.githubusercontent.com/64700692/134921096-6d226585-b1b1-46d0-b17e-51dc81e18316.png)
Here's what I have done. Do comment on it, if some changes are required.
@kunal-kushwaha

[2021-09-27 13:51] BrSwish23 commented on #141
![image](https://user-images.githubusercontent.com/48132611/134921777-45e662ba-a913-49e9-9022-0bad0a8e7e06.png)
Hey Kunal, I have added the 3 buttons and also fixed some padding issues. Is this alright?

[2021-09-27 13:52] kunal-kushwaha commented on #141
please share screenshot of the entire page

[2021-09-27 13:54] BrSwish23 commented on #141
![image](https://user-images.githubusercontent.com/48132611/134922230-8ac339c7-04df-4fc1-841c-5cadc67c4e92.png)
![image](https://user-images.githubusercontent.com/48132611/134922255-0a058e34-7d19-4b83-be35-fe69ec3e1a45.png)
Here it is

[2021-09-27 13:56] Deepchavan1 commented on #145
I'm working on dark theme for courses.html
coursespanel changes
before:
<img width="1410" alt="Screenshot 2021-09-27 at 7 17 16 PM" src="https://user-images.githubusercontent.com/78216590/134922184-0329cd03-6f7d-49f2-8b91-c447fd472cb8.png">

after:
<img width="1410" alt="Screenshot 2021-09-27 at 7 17 30 PM" src="https://user-images.githubusercontent.com/78216590/134922217-b43a6d81-0883-4538-9400-c

[2021-09-27 14:07] BrSwish23 commented on #141
![image](https://user-images.githubusercontent.com/48132611/134924485-77b36dca-718c-4f23-8f55-ab2529751671.png)
![image](https://user-images.githubusercontent.com/48132611/134924560-a44d2df5-6cab-4e57-b7b5-340ac86d56dd.png)
Sorry for spamming but added styles to the buttons and given margin to separate cards from footer

[2021-09-27 14:08] DevanshK08 commented on #129
@kaiwalyakoparkar bug report template is already created in #132, should i make the feature and other templates?

[2021-09-27 14:11] vish-han commented on #146
@himanshu211raj see is this ok???
![responsive 1](https://user-images.githubusercontent.com/44545745/134925491-e57dd191-0d0f-40e1-ba95-fbcfb1d401c4.PNG)
![responsive 2](https://user-images.githubusercontent.com/44545745/134925497-bc2c7d5f-0648-4d5c-957d-9da0255643ac.PNG)

[2021-09-27 14:21] ZaidKhan2002 commented on #145
<img width="1426" alt="Screenshot 2021-09-27 at 7 49 44 PM" src="https://user-images.githubusercontent.com/71960989/134927147-1db1fbaa-31ec-4456-87ba-97f5068c2af2.png">
<img width="1426" alt="Screenshot 2021-09-27 at 7 50 28 PM" src="https://user-images.githubusercontent.com/71960989/134927176-e18d0638-4210-41db-aa52-ebd5a737e77a.png">

@kunal-kushwaha  will these works?

[2021-09-27 14:25] omkargurav10 commented on #141
@kunal-kushwaha
Here are the changes made in buttons.
Hope you would liked it.

![Screenshot 2021-09-27 194856](https://user-images.githubusercontent.com/89473596/134927042-650e7c87-33a3-4883-9ede-907c1b5123b0.png)

[2021-09-27 14:27] omkargurav10 commented on #141
@kunal-kushwaha
Here are the changes made in buttons.
Hope you would liked it
![Screenshot 2021-09-27 195711](https://user-images.githubusercontent.com/89473596/134928324-ad2b9ab2-7f70-43f4-87d1-c8d0c9567849.png)
.

[2021-09-27 14:29] himanshu211raj commented on #146
not ok as all details are removed instead of this we have to make it responsive not to remove any details

[2021-09-27 14:45] samz5320 commented on #147
i think i fixed it can i send pull req?

<img width="1440" alt="Screenshot 2021-09-27 at 8 13 18 PM" src="https://user-images.githubusercontent.com/57592361/134931211-4a7f0bfd-c605-4e4e-9ffc-85985e1b64f5.png">

[2021-09-27 16:08] abrahamalen commented on #145
@Deepchavan1  hey the corner curves of the 3-course cards are not uniform. Check on that measurements

[2021-09-27 16:29] deeksha-singh030 commented on #147
@samz5320 it was working fine for this page. When you go inside the courses, for that it wasn't as it has not been implemented yet about which I came to know in discord.

[2021-09-27 20:07] #145 closed

[2021-09-28 02:11] shreemaan-abhishek opened #154 "Replace `theme` button with a switch?"
IMO it'd be a great idea to replace the theme button with a switch. Lemme know what do y'all think

![image](https://user-images.githubusercontent.com/61597896/135010994-732c1d3c-24df-4b8a-b15e-0a6b76238fba.png)

[2021-09-28 04:54] #131 closed

[2021-09-28 05:09] siddhi-244 commented on #130
Thank you.

[2021-09-28 05:09] kaiwalyakoparkar commented on #130
We can have it no worries. As it's opening contribution opportunities. When me migrate we shall give dev branch the priority

[2021-09-28 05:28] kaiwalyakoparkar commented on #129
@Harshal0902 Go ahead with it :) Let me know if you need any help

[2021-09-28 05:34] siddhi-244 commented on #130
I have made a pr @kaiwalyakoparkar

[2021-09-28 05:45] shamilkotta opened #157 "Fixed Header Overlapping content"
Fixed Header Overlapping content on zero scroll position
Browser - Microsoft Edge
![Capture](https://user-images.githubusercontent.com/64640025/135030027-546f2eca-c5b4-4fde-bb76-ccda4ae5ed28.PNG)

[2021-09-28 06:08] #130 closed

[2021-09-28 07:15] DevanshK08 commented on #157
Hey @shamilkotta Can i work on this issue?

[2021-09-28 07:16] Deepchavan1 commented on #157
can i work on this? @shamilkotta

[2021-09-28 08:08] Soham041201 opened #159 "bug: Link highlighting not working in light aswell as in dark mode"
@kunal-kushwaha Had fixed this issue just yesterday but someone accepted this buggy code again :(
Now:
![Screenshot from 2021-09-28 13-36-24](https://user-images.githubusercontent.com/79072777/135048397-095406f1-e8ee-49cc-903b-307c891ca84a.png)
![Screenshot from 2021-09-28 13-37-03](https://user-images.githubusercontent.com/79072777/135048485-bb071971-2f83-463f-b7df-f3df78678465.png)
Expected:
![S

[2021-09-28 11:13] mrunankpawar opened #161 "Social link redirection on same page"
There is an issue for Telegram, Discord and YouTube social link redirection. Others are opening in new tab but these three are opening in current tab itself

[2021-09-28 11:14] mrunankpawar commented on #161
I would like to work on this issue.

[2021-09-28 20:01] prabhxjottsingh commented on #161
Hey, just wanted to know, do we have to ask things like these, before pulling request ??
I am new here, so just wanted to know, like cannot you just solve this thing and issue a pull request directly ??

[2021-09-29 05:36] #135 closed

[2021-09-29 09:12] Ankishoop commented on #146
anybody is working on this issue

[2021-09-29 13:51] 889-dj commented on #154
yeah I think it would look great

[2021-09-29 15:45] SufyaanKhateeb commented on #141
Whoever is doing this just add some margin to the top of that container.

[2021-09-29 16:18] Kunal0007 commented on #147
I think now it is working well for both the course page and inside the individual course page.

[2021-09-29 17:18] nikhilreddydev commented on #141
I see that there are 7 tasks in this issue. so, do we need to do all the 7 tasks to be eligible to merge the PR?

[2021-09-29 21:34] #159 closed

[2021-09-30 03:45] SiddhantKhisty commented on #161
@prabhxjottsingh  It is better to inform the folks here so that duplicate PR's are avoided

[2021-09-30 04:17] prabhxjottsingh commented on #161
@SiddhantKhisty Oh okay got it, thanks

[2021-09-30 04:17] akash-kumar44 commented on #141
@kunal-kushwaha I would like to work on it ...

[2021-09-30 04:19] akash-kumar44 commented on #161
@mrunankpawar, @kunal-kushwaha  I would like to work on it

[2021-09-30 04:21] akash-kumar44 commented on #146
@himanshu211raj can I work on this issue?

[2021-09-30 04:53] rajkumawat01 commented on #141
@kunal-kushwaha  Is the three-button issue solved?
If not, I would like to work on it.

[2021-09-30 04:54] rajkumawat01 commented on #141
If there are more UI, I would like to solve those too.

[2021-09-30 04:55] rajkumawat01 commented on #141
If there are more UI issues, I would like to solve those too.

[2021-09-30 05:06] #129 closed

[2021-09-30 05:08] himanshu211raj commented on #146
of course if anyone not working on this @kaiwalyakoparkar kindly have a look on this

[2021-09-30 09:29] AryanShinde opened #167 "[Bug]: the course title doesnt work on refresh"
### Describe the bug

when theme is changed to dark, color of course remains blue  when page is refreshed.

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/73652194/135426532-8fbf818b-3c0f-4821-8806-148cb58b4dc0.png)

### Desktop (please complete the following information)

_No response_

### Additiona

[2021-09-30 09:33] AryanShinde commented on #167
I have fixed this by making appropriate changes in main.js file and have concisely made the required changes,
expected:
![image](https://user-images.githubusercontent.com/73652194/135427010-210c5661-e7c9-4e0e-9c86-c3938ae7431e.png)
![image](https://user-images.githubusercontent.com/73652194/135427199-54506d9e-51c5-4089-bb31-3397e350e14d.png)

in production:
![image](https://user-images.githubuserc

[2021-09-30 09:42] Soham041201 opened #168 "[Bug]: The theme button dosen't work on the course page"
### Describe the bug

The theme button is not functional on the courses page

### To Reproduce

1. Go to Courses.
2. Select any one course
3. Click on theme button

### Expected Behavior

The theme should be changed on clicking the theme button

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/79072777/135428410-28034146-321e-4b68-bd2d-929ec94ad94f.png)

### Desktop (pleas

[2021-09-30 13:20] amandugar commented on #168
I would Like to work on this

[2021-09-30 15:45] Deepchavan1 commented on #168
@kunal-kushwaha , I have resolved this issue for both  git-github and java-dsa-bootcamp page and also added logo to both git-github and java-dsa-bootcamp page. But while pushing the code I'm getting permission denied.

[2021-09-30 16:55] Preranasingh2001 opened #171 "Ammend in a line"
https://github.com/commclassroom/commclassroom/blob/aa923fd1dd840255357dea8dd88faee876979d6a/index.html#L192

i would like to amend this line as-
"Get expert guidance with career, Open Source, internships and jobs around the world."

[2021-09-30 18:36] everly-gif commented on #66
I would like to work on this. If im not wrong we are talking about :https://commclassroom.org/course-single/java-dsa-bootcamp.html
I dont see comments or rating?

[2021-10-01 05:06] AnuragThePathak commented on #157
It works fine in other browser?

[2021-10-01 05:16] akash-kumar44 commented on #168
@kunal-kushwaha I would like to work on this issue

[2021-10-01 07:37] #154 closed

[2021-10-01 10:51] namangirdhar16 commented on #168
@Soham041201 is this issue still open? If yes, i would like to work on this.

[2021-10-01 10:53] Soham041201 commented on #168
The issue is open

[2021-10-01 11:08] Soham041201 opened #178 "[Bug]: The Cards on the home page changes radius on hover (looks unprofessional)"
### Describe the bug

The cards look a bit unprofessional due to unnecessary change in radius and irregular margin between text

### To Reproduce

Home Page

### Expected Behavior

A bit of change in colour and a uniform margin between texts in the card section

### Screenshot/ Video

![Screenshot from 2021-10-01 16-37-16](https://user-images.githubusercontent.com/79072777/135610224-127102fb-9d81-

[2021-10-01 11:29] KamalSinghKhanna commented on #178
Hi @Soham041201, I saw that I can make a try on this.

[2021-10-01 11:40] DurveshKumarPal commented on #61
Hey, How can I fix this problem.

[2021-10-01 12:02] KamalSinghKhanna opened #180 "[Bug]: require changes in css"
### Describe the bug

In the course section when I click on the learn more button of the course containing Java interview preparation it opens me the course in the same tab but  when I click on the learn more button of Git and Github course it opens me the course in new tab.

### To Reproduce

Go to the course
click the learn more button

Their are two ways to reproduce this
1. change the style in

[2021-10-01 12:18] pruthvirajjadhav1 opened #182 "[Bug]: dark theme button is not placed properly"
### Describe the bug

When the navigation bar is clicked on the mobile view the dark theme button gets misplaced.

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

![IMG_20211001_174711](https://user-images.githubusercontent.com/73253354/135618431-f6270964-4e53-4226-8d3f-101f0b6f1f92.jpg)

### Desktop (please complete the following information)

Device-

[2021-10-01 12:57] Chavda-Mitul commented on #157
i am working on this

[2021-10-01 13:21] chaitanya-24 commented on #182
I can try to fix it.

[2021-10-01 13:23] Aman-Deshpande commented on #182
Hey @pruthvirajjadhav1 can I work on this issue

[2021-10-01 13:35] chaitanya-24 commented on #180
Hello @KamalSinghKhanna, I can fix this.

[2021-10-01 13:35] kaiwalyakoparkar commented on #182
Go ahead. I will assign this to you

[2021-10-01 13:48] omkarg01 commented on #168
@kaiwalyakoparkar I would like to fix this issue

[2021-10-01 13:49] DhruvParthasarathy commented on #25
I would love to contribute to this issue as well. @harkiratsm

[2021-10-01 13:51] rwiteshbera opened #187 "[Bug]: Add Github icon for commclassroom github page in footer"
### Describe the bug

In the footer section, there is Instagram, Twitter, Linkedin, Discord, youtube icon but it would be good if there is a github icon.
The github icon will be connected to https://github.com/commclassroom

### To Reproduce

![Screenshot from 2021-10-01 19-17-58](https://user-images.githubusercontent.com/73098407/135630985-6c066f3b-8d9a-4759-9edb-5e86df18357b.png)

### Expected B

[2021-10-01 13:52] DhruvParthasarathy commented on #37
@praveenscience  - is this a part of a react build where we add routes to the different sections of the app?

[2021-10-01 13:54] DhruvParthasarathy commented on #73
Would love to help here @praveenscience  - let me know what we are planning to do over here.

[2021-10-01 13:59] omkarg01 commented on #187
@kaiwalyakoparkar I would like to work on this issue

[2021-10-01 14:00] rwiteshbera commented on #187
@kaiwalyakoparkar Please assign me this issue

[2021-10-01 14:17] Neeteshking21 commented on #187
I'm also ready for this.

[2021-10-01 14:18] Neeteshking21 commented on #180
Hey @kaiwalyakoparkar. I can work on this. Would you like to assign me?

[2021-10-01 14:19] Gautam1302 commented on #171
Can i take up this issue ?

[2021-10-01 14:21] mRahulRoy commented on #187
i want to do it. it will be my first contribution.
please assign me.

[2021-10-01 14:30] Neeteshking21 opened #189 "[Other]: Theme button of Course page neither styled and nor working."
### Is your request related to a problem? Please describe.

The course page's theme button isn't placed properly. That's **damaging the UI of the website.**

### Describe the solution you'd like

We can add some beautiful styles and functionality to it.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-01 14:31] Neeteshking21 commented on #189
Please assign it to me. I can fix it.

[2021-10-01 14:31] Jassi10000 commented on #189
@Neeteshking21 Can you please put a screenshot or some reference to this

[2021-10-01 14:33] Neeteshking21 commented on #189
![button](https://user-images.githubusercontent.com/62437607/135637857-0dd4cfd7-9135-4f7b-bb52-92b90da914db.png)

[2021-10-01 14:34] Neeteshking21 commented on #189
@Jassi10000.

[2021-10-01 14:35] Neeteshking21 commented on #189
also Index page's theme button's alignment not perfect.

[2021-10-01 14:36] Neeteshking21 commented on #189
![index](https://user-images.githubusercontent.com/62437607/135638243-659868fa-4389-44fe-8d20-8f4a423756ad.png)

[2021-10-01 14:44] Jassi10000 commented on #189
Okayy !!
It's nice you spotted that , just put a message here tagging any maintainer , they will surely assign you

[2021-10-01 15:03] kaiwalyakoparkar commented on #187
@rwiteshbera Go ahead. Let me know if you need any help

[2021-10-01 15:06] kaiwalyakoparkar commented on #180
@Neeteshking21 Go ahead. I will assign this to you

[2021-10-01 15:08] rwiteshbera commented on #187
@kaiwalyakoparkar Is this project involved in Hacktoberfest? I am just asking so that my pull request will be counted. Otherwise no problem, I want to contribute to improve my skill.

[2021-10-01 15:09] kaiwalyakoparkar commented on #187
@rwiteshbera It is participating indeed

[2021-10-01 15:10] kaiwalyakoparkar commented on #168
@amandugar I have assigned this to you. Let us know if you need any help

[2021-10-01 15:11] mRahulRoy commented on #187
can i work on the same issue . or that has assigned to someone?

[2021-10-01 15:12] amandugar commented on #168
Sure I will do it and will ask if any help is needed

[2021-10-01 15:13] #128 closed

[2021-10-01 15:14] anubha-v-ardhan commented on #128
in favour of #134

[2021-10-01 15:14] Amishakumari544 opened #192 "[Feature]: Meet the Founder Section in not working properly on hover"
### Is your feature request related to a problem? Please describe.

Meet the Founder Section in not working properly on hovering .
![comm1](https://user-images.githubusercontent.com/49230384/135644779-3284b6db-89f5-4be8-a84d-b81c9f5794ac.png)

### Describe the solution you'd like

We should add hover transition to make it more smooth

### Describe alternatives you've considered

We can use transit

[2021-10-01 15:15] Amishakumari544 commented on #192
@kaiwalyakoparkar could you check once?

[2021-10-01 15:15] kaiwalyakoparkar commented on #187
It's assigned to @rwiteshbera

[2021-10-01 15:16] kaiwalyakoparkar commented on #192
@Amishakumari544 Nice spot. Also the social icons are small and not centered so it looks a bit off. Would you like to work on this issue?

[2021-10-01 15:17] Amishakumari544 commented on #192
yes sure.

[2021-10-01 15:17] Neeteshking21 opened #193 "[Bug]: Dropdown button is not working."
### Describe the bug

The hamburger icon is not working while I'm trying with "Toggle device Toolbar" and inspect it.

### To Reproduce

1. Open Course page.
2. _**Right-click**_ and **_inspect_** it
3. Click on the **_Toggle device toolbar_**.
4. Do minimize webpage till Hamburger Icon doesn't show.
4. Now try to Open the DropDown menu.
5. See the error.

### Expected Behavior

On click on the ha

[2021-10-01 15:17] Rohit-Mehta-0 commented on #182
Hey, I have resolved this issue can anyone please review it.

[2021-10-01 15:18] kaiwalyakoparkar commented on #192
@Amishakumari544 Assigned to you. Let me know if you need any help

[2021-10-01 15:18] Neeteshking21 commented on #193
![dropdown](https://user-images.githubusercontent.com/62437607/135645283-0069eb15-d91b-4db6-9b8b-295720287d79.png)

[2021-10-01 15:18] Neeteshking21 commented on #193
Please assign it to me.

[2021-10-01 15:19] kaiwalyakoparkar commented on #182
What do you mean by 'resolved it'? Did you make a pr?

[2021-10-01 15:19] Neeteshking21 commented on #193
@kaiwalyakoparkar  please check it from your side.

[2021-10-01 15:20] kaiwalyakoparkar commented on #193
@Neeteshking21 Could you please attach a gif or a video demoing this bug?

[2021-10-01 15:29] Neeteshking21 commented on #193
![error (0)](https://user-images.githubusercontent.com/62437607/135646929-835890a0-a6a6-48c0-a8c1-151d901bcbc1.gif)
@kaiwalyakoparkar

[2021-10-01 15:31] omkarg01 commented on #193
@kaiwalyakoparkar Plz assign this to me. I would like work on this.

[2021-10-01 15:33] Rohit-Mehta-0 commented on #182
yup made a pr.

[2021-10-01 15:36] Neeteshking21 commented on #180
@kaiwalyakoparkar . It's working well from my side.

[2021-10-01 15:38] Neeteshking21 commented on #180
Both courses are opening in the existing tab.

[2021-10-01 15:49] omkarg01 opened #195 "[Bug]: Uneven margin around course image"
![even margin](https://user-images.githubusercontent.com/67428719/135650031-2f035ceb-0c21-42ed-af1b-b64d5cb8e855.jpg)

[2021-10-01 15:52] omkarg01 commented on #195
@kaiwalyakoparkar I would like to fix this issue

[2021-10-01 15:57] Neeteshking21 commented on #180
#196. I changed the code to open in a new tab.

[2021-10-01 17:01] akash-kumar44 opened #202 "[Feature]: I think we should add a FAQ Section"
### Is your feature request related to a problem? Please describe.

- I had sent a PR   (#110) in which @kunal-kushwaha had asked to make some changes. So I have made those changes and sent another PR(#170) .
- If you want some more changes in it then I would like to do that otherwise if you like the idea then please merge the PR(#170)

[2021-10-01 17:04] amandugar commented on #168
Hey Its a Silly Thing I have fixed the bug but How to run ```npm run format``` it doesn't have package.json

[2021-10-01 17:07] namangirdhar16 commented on #171
@Preranasingh2001 if this issue is open, can i work ont this?

[2021-10-01 17:09] namangirdhar16 commented on #65
Hi i would like to work on this issue, can you provide me additional details?

[2021-10-01 17:29] amandugar commented on #168
Hey I have Created a Pull Request Please Check if its correct

[2021-10-01 17:36] daredevilteja opened #204 "[Feature]: improving the speed of the website in development branch"
### Is your feature request related to a problem? Please describe.

When the images are placed inside the **public** folder, they do not get optimized when the code is pushed to production. This decreases the speed of the website.

### Describe the solution you'd like

- [ ] Move the static folder present in public to src

### Describe alternatives you've considered

It is better to add the necess

[2021-10-01 17:43] daredevilteja opened #206 "[Other]: Removing material ui package from project in development branch"
### Is your request related to a problem? Please describe.

Remove the material ui packages from project structure

### Describe the solution you'd like

Search for the package names and run `npm remove <packagename>`

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-01 17:49] FirdausJawed commented on #68
i would like to work on this issue

[2021-10-01 17:49] daredevilteja opened #207 "[Other]: Add linting script in package.json in development branch"
### Is your request related to a problem? Please describe.

What if people using code editors that doesn't have eslint extension enabled?

### Describe the solution you'd like

Add a lint script in package.json for eslint to work from command line

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-01 17:50] amandugar opened #208 "[Bug]: Issue with Toggle Button when Theme Changes"
### Describe the bug

Change Theme Button has no fixed State

### To Reproduce

- Change the theme
- Refresh the page
- State of button automatically changes but theme remains same

### Expected Behavior

It should check which theme is Currently in Local Storage and then then set the UI Accordingly

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/55328714/135665293-4f49bb

[2021-10-01 17:51] amandugar commented on #208
I would like to work on it

[2021-10-01 18:27] Krishnapro commented on #161
Hey I would like to work on this issue #166 because I beginner so I want to start with easy. can you assign me this @kunal-kushwaha , @kaiwalyakoparkar

[2021-10-01 18:42] heysujal commented on #208
@amandugar  can we collaborate to fix this

[2021-10-01 19:19] SufyaanKhateeb commented on #34
I think that I can do this.

[2021-10-01 20:47] akash-kumar44 commented on #208
@kaiwalyakoparkar I would like to work  on it

[2021-10-01 20:55] akash-kumar44 opened #213 "[Bug]: Theme Button is not at the position when open in mobile phone"
### Describe the bug

- Click on the drop-down menu
- You will see the theme button will shift from it's postion and will appear on mid left side

### Screenshot/ Video

![Screenshot (105)](https://user-images.githubusercontent.com/86745118/135702123-25c14162-08b2-442d-992c-5890960a37bb.png)

[2021-10-01 20:56] akash-kumar44 commented on #213
@kaiwalyakoparkar please assign this issue to me . I would like to work on it

[2021-10-01 21:07] akash-kumar44 opened #214 "[Bug]: Footer is not responsive"
### Describe the bug

- When open website in mobile phone,  footer doesn't look nice
- Looks like spacing between content of Footer is too much
- text inside Footer ( Community Classroom, Quality education....) can be well represented in mobile

### Screenshot/ Video
![Screenshot (106)](https://user-images.githubusercontent.com/86745118/135702216-551776b0-770b-47bf-b332-66cde2480931.png)
<br>
![IM

[2021-10-01 21:08] akash-kumar44 commented on #214
@kaiwalyakoparkar I would like to work on it.. please assign this to me

[2021-10-01 22:08] Shofiya2003 commented on #214
Can I work on this issue?

[2021-10-02 04:04] KamalSinghKhanna commented on #178
Hey @Soham041201 How can I add changes to development branch

[2021-10-02 04:09] Soham041201 commented on #178
Actually I have solved this issue and raised the PR for the same :) I you are asking about contributing to the development branch ,you cant contribute directly. You have to update the code and raise PR. Once the PR gets accepted your code will be merged with the development branch. Join the discord community to get guidance for the same. Happy Hacking :)

[2021-10-02 05:03] namangirdhar16 commented on #171
@kaiwalyakoparkar can i work on this?

[2021-10-02 05:13] PAARTH2608 commented on #214
I would like to work on this. Please assign it to me

[2021-10-02 05:27] harkiratsm opened #218 "Landing Page [React ]"
### Is your request related to a problem? Please describe.

1) Create a Landing Page
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Make use of components
4) All the assets are provided in ```commclassroom/src/assets/static/react-web-designs/```
5) Have Fun 😄 make this .
6) Design for this is in ```commclassroom/design/light-theme/hero.png```

### Describ

[2021-10-02 06:05] namangirdhar16 commented on #206
@daredevilteja @kaiwalyakoparkar  can i work on this issue?

[2021-10-02 06:08] daredevilteja commented on #206
Yes

[2021-10-02 06:30] Neeteshking21 commented on #218
@harkiratsm , Please assign it to me.

[2021-10-02 06:34] Mohit-Swain commented on #218
I think it will be better if we create sub issues and @harkiratsm you assign it to us

[2021-10-02 06:35] Neeteshking21 commented on #218
Thanks.😄

[2021-10-02 07:05] Mohit-Swain opened #222 "[Other]: [React] remove @material-ui and add tailwind css."
### Is your request related to a problem? Please describe.

As described in #218 by @harkiratsm we have to use tailwind CSS for the project but now the current react development uses material-ui. So, we have to change it.

### Describe the solution you'd like

- remove material-ui and it's dependencies
- remove material-ui code in codebase
- add tailwind CSS and it's dependencies by npm
- config t

[2021-10-02 07:07] Mohit-Swain commented on #222
I want to work on it.

[2021-10-02 07:07] harkiratsm commented on #222
We have already been worked on it

[2021-10-02 07:07] #222 closed

[2021-10-02 07:16] namangirdhar16 commented on #204
@daredevilteja @kaiwalyakoparkar  can i work on this?

[2021-10-02 07:28] daredevilteja commented on #204
Yes

[2021-10-02 07:32] namangirdhar16 commented on #206
@daredevilteja can you review my pull request?

[2021-10-02 07:50] nyctonio commented on #218
Can I use Next.js for making the landing page

[2021-10-02 08:00] namangirdhar16 commented on #204
@daredevilteja after doing the above changes, how can i tell react to look for static files in src folder instead of public?

[2021-10-02 08:05] daredevilteja commented on #204
Just move static folder from public into src. Then we can start using those files.

[2021-10-02 08:16] namangirdhar16 commented on #206
@daredevilteja You haven't assigned this issue to me yet.

[2021-10-02 08:17] daredevilteja commented on #206
I do not have assigning rights

[2021-10-02 08:19] namangirdhar16 commented on #206
@daredevilteja ok. Whom can i ask to assign then? because if i make a pull request i can't request for review becuase i am not assigned.

[2021-10-02 08:25] daredevilteja commented on #206
@kunal-kushwaha @harkiratsm @kaiwalyakoparkar

[2021-10-02 08:28] namangirdhar16 commented on #206
@kunal-kushwaha @harkiratsm @kaiwalyakoparkar can u assign this to me?

[2021-10-02 08:34] Neeteshking21 commented on #218
@harkiratsm , let me know ```commclassroom/src/assets/static/react-web-designs/``` and ``` commclassroom/design/light-theme/hero.png ```  are already exist or have to create them because I'm not able to  find out. Please share links.

[2021-10-02 08:36] harkiratsm commented on #218
which branch are u looking

[2021-10-02 08:40] Neeteshking21 commented on #218
Ohh, my bad.

[2021-10-02 08:41] Neeteshking21 commented on #218
Got it .

[2021-10-02 09:38] akash-kumar44 commented on #213
hey Neetesh Why are you sending a PR without assigning this issue to you?
@kaiwalyakoparkar @harkiratsm this is not fare!!
I solved this issue and waited to assigning this issue to me and Neetesh send PR without assigning.
So, Please assign this issue to me or should i also make a PR without assigning

[2021-10-02 10:37] akash-kumar44 commented on #193
@Neeteshking21, @kaiwalyakoparkar Dropdown button is working fine. We have no need of any type of change in it.
it works fine on every browser.

[2021-10-02 10:59] Neeteshking21 commented on #193
@akash-kumar44 . try 3rd step.  ``` Click on the Toggle device toolbar. ```

[2021-10-02 11:11] akash-kumar44 commented on #193
@Neeteshking21 I do the same process and even I open website on my mobile also
See it is working fine on mobile also

https://user-images.githubusercontent.com/86745118/135713603-26b554f0-fa2e-48fd-b1f0-5123ab95e04b.mp4

[2021-10-02 11:15] akash-kumar44 commented on #193
@Neeteshking21 when you raised that issue then website had that issue. But after that @Kunal0007 made changes and fix that problem and also changed the theme button to switch.
So, now website is free from that issue

[2021-10-02 11:27] Maverick-01 commented on #147
hey, is the issue still open, or is it resolved?

[2021-10-02 11:32] JiteshKanojia commented on #138
#230  Solves this issue.

[2021-10-02 11:39] omkarg01 commented on #193
First go to course page of java and git then try clicking on dropdown button there, it is not working.

[2021-10-02 11:51] akash-kumar44 commented on #193
@omkarg01 ok

[2021-10-02 13:00] Neeteshking21 commented on #193
@kaiwalyakoparkar

[2021-10-02 14:52] kaiwalyakoparkar commented on #193
@Neeteshking21 what happed here?

[2021-10-02 14:53] #193 closed

[2021-10-02 14:53] #213 closed

[2021-10-02 17:35] NimishKashyap opened #233 "[React]: Fixed carousel slider item to scroll and added placeholder image."
### Is your request related to a problem? Please describe.

The testimonial page scroll not specified and was set default to 1. Hence, the scroll was behaving abnormally.

Also, in the homeviewdata.js, img property was empty.

### Describe the solution you'd like

Added itemsToScroll set to 3 for proper navigation.

Also, added placeholder image for avatar, separately for male and female avatar.

[2021-10-02 17:37] #233 closed

[2021-10-02 18:36] amandugar commented on #168
I am getting conflicts when my formatter formats the code can you please tell me what type of formatter you are using

[2021-10-02 20:12] RRAJ644 commented on #214
I would like to work on it to make footer responsive

[2021-10-02 20:18] RRAJ644 commented on #146
I would like to work on this issue

[2021-10-03 04:58] Ankishoop commented on #214
**hey anybody is working on this issue if not I  want to work on it and also plz describe how footer should look like
means any specification**

[2021-10-03 07:03] Shivansh-yadav13 commented on #182
@pruthvirajjadhav1 I think you can close it, this issue has been fixed

[2021-10-03 07:12] Shivansh-yadav13 opened #237 "[Bug]: Theme Btn alignment for 1024px and 1440px"
### Describe the bug

The Theme button is not aligned properly for 1024px and 1440px width

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

## 1024px
![1024px](https://user-images.githubusercontent.com/87603425/135743893-cd8ae1d7-a046-4694-9a02-deb6cf4a5912.PNG)
## 1440p
![1440px](https://user-images.githubusercontent.com/87603425/135743899-9336aaf3-86

[2021-10-03 07:55] omkarg01 opened #238 "[Bug]: Dropdown not working"
### Describe the bug

**Its working in home page but not in course (both java-dsa and github) page. And also it is not positioned properly.**

### Screenshot/ Video

![isuue](https://user-images.githubusercontent.com/67428719/135745090-d89f5fa6-b33c-43e3-b257-f32fc454035f.gif)

[2021-10-03 07:56] omkarg01 commented on #238
@kaiwalyakoparkar I would like to work on this issue.

[2021-10-03 09:03] pruthvirajjadhav1 commented on #182
Okay

[2021-10-03 09:03] #182 closed

[2021-10-03 09:46] PurneswarPrasad opened #241 "[Feature]: Keeping "Team" after the "About Us" section"
### Is your feature request related to a problem? Please describe.

Whenever one comes to a certain website, they'd like to see about the content and then the team, contact details, etc. And also, in the navigation tabs, keeping "Team" before "About Us" makes it navigate down first and then it comes up for the "About Us".

### Describe the solution you'd like

Swapping the position of "Team" and "

[2021-10-03 09:47] PurneswarPrasad commented on #241
@kaiwalyakoparkar @kunal-kushwaha this can be a `good-first-issue`. Review and add the tag.

[2021-10-03 10:16] RamanChola commented on #237
Hey, i would like to fix this.

[2021-10-03 10:21] mayankjain25 commented on #241
Can I be assigned this task?

[2021-10-03 10:37] Drish-xD commented on #237
I'm Working on this :)

[2021-10-03 10:49] RamanChola opened #242 "[Bug]: Learn more button for the Complete Git and GitHub tutorial card on the homepage is not working properly"
### Describe the bug

When we click on the learn more button in the our courses section on the homepage it navigates to the course-single page in a new tab.

### To Reproduce

1) Go to the our courses section on the homepage.
2) Navigate to Complete Git and GitHub tutorial card.
3) Click on learn more.
4) It will navigate you to the course-single page via a new tab.

### Expected Behavior

It shou

[2021-10-03 10:49] RamanChola commented on #242
I would like to work on it.

[2021-10-03 11:06] RamanChola opened #243 "[Bug]: Styling for the individual course page not appropriate."
### Describe the bug

1) The content of the page is getting cut by the navbar.
2) There are no buttons for assignment, code and youtube.
3) The border-radius on the footer's top-left and right corners doesn't look good.

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

![coursefullpage](https://user-images.githubusercontent.com/69671818/135750879-3fc3ee

[2021-10-03 11:06] RamanChola commented on #243
I would like to work on this.

[2021-10-03 12:00] rsinghcodes commented on #161
Hi @kunal-kushwaha and @kaiwalyakoparkar, Please assign it to me and I will work on this issue. I will add one more thing which will be beneficial to redirect to secure official website and not vulnerable after opening in new tab.

Thanks!

[2021-10-03 12:07] Drish-xD commented on #237
pls review my PR ( Navbar Fix #245 )

[2021-10-03 13:38] Sumandeep-Kaur opened #246 "[Bug]: Margin of social media icons in footer section is not appropriate"
### Describe the bug

Social media icons are not properly margined especially on hover state.
Margin should be increased between them.

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

![Screenshot (11)](https://user-images.githubusercontent.com/77191007/135755881-8653f1c4-96aa-4536-b56c-d57303ab9731.png)

### Desktop (please complete the following info

[2021-10-03 13:43] RamanChola commented on #246
Can i work on this?

[2021-10-03 15:54] Amishakumari544 commented on #246
It has already pr

[2021-10-03 16:02] rsinghcodes opened #249 "[Feature]: The UI of the card in the course section should be improved."
### Is your feature request related to a problem? Please describe.

The UI of the card in the course section is not looking good. It seems to shrink when I'm hovering over the card and of course the color contrast of the card doesn't look good either.

![course-before](https://user-images.githubusercontent.com/67682451/135761312-13d2126d-a86a-4d26-bf99-4eb7e5a5feed.png)

### Describe the solution

[2021-10-03 16:04] rsinghcodes commented on #249
Hi @kunal-kushwaha and @kaiwalyakoparkar, please assign it to me. I would like to work on this feature.

Thanks!

[2021-10-03 16:27] Soham041201 commented on #249
Hey, I have actually raised an Issue on this and have also raised a PR for the same
Issue numer #178 PR #186

[2021-10-04 07:47] yogeshrjk opened #250 "[Bug]: Contact Us link is collapsed with the dark mode toggle button"
### Describe the bug

Contact Us link is collapsed with the dark mode toggle button

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

<img width="1440" alt="Screenshot 2021-10-04 at 1 10 54 PM" src="https://user-images.githubusercontent.com/65396589/135812692-387b4983-d2f6-430f-9a35-0653e1329a31.png">
<img width="1440" alt="Screenshot 2021-10-04 at 1 10

[2021-10-04 07:48] yogeshrjk commented on #250
Contact Us link is collapsed with the dark mode toggle button

[2021-10-04 08:10] #250 closed

[2021-10-04 16:04] SahityaRoy opened #252 "Do U need any blog page [Feature]:"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

i want to add a blog page where u can upload blogs related to programming .

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-04 17:32] Neeteshking21 commented on #218
#255. Pull request send.

[2021-10-05 04:23] Drish-xD commented on #250
Already fixed in (Navbar Fix) #245 :)

[2021-10-05 05:34] #192 closed

[2021-10-05 07:10] harshmathurx opened #261 "[Bug]: Theme toggle not aligned properly"
### Describe the bug

The theme toggler does not overlap perfectly when clicked
I have tried fixing this in my own fork and I can make it better

### To Reproduce

1. Go to https://commclassroom.org/
2. Click on the theme toggler

### Expected Behavior

![image](https://user-images.githubusercontent.com/58532371/135976424-9e315b8c-e74b-4b64-9da4-2328429e01ed.png)
![image](https://user-images.githu

[2021-10-05 07:10] UjjwalSinghDetexter commented on #241
i Have submitted its pull request

[2021-10-05 07:10] harshmathurx commented on #261
I would like to work on this please assign it to me

[2021-10-05 07:15] #261 closed

[2021-10-05 10:15] Aniket762 opened #263 "[Feature]: Proposal to setup Prettier as code formatter"
### Is your feature request related to a problem? Please describe.

Currently, this codebase is not using any code formatting tool and linting but people tend to use separate tools for these two jobs i.e. ES Lint for code listing & managing errors & Prettier for code formatting.

### Describe the solution you'd like

[Prettier](https://prettier.io/) is a tool that automatically makes your code mor

[2021-10-05 10:57] PurneswarPrasad commented on #241
@UjjwalSinghDetexter do link the issue with your PR for better visibility

[2021-10-05 15:36] rsinghcodes opened #265 "[Bug]: manifest.json file should be improved"
### Describe the bug

The manifest.json file should be improved as it tells the browser about the website on the user's mobile device or desktop. There are some errors and warnings in the website's manifest that should be fixed as it contains the website app name, the icons used by it, start_url when launched, and many other details.

To see the errors in manifest.json:

1. Right click on mouse in

[2021-10-05 15:37] rsinghcodes commented on #265
Hi @kaiwalyakoparkar and @kunal-kushwaha, Please assign it to me. I will work to fix this issue.

[2021-10-05 15:45] UjjwalSinghDetexter commented on #241
@PurneswarPrasad Done, it it ok now?

[2021-10-05 15:51] UjjwalSinghDetexter commented on #241
@PurneswarPrasad Done, is it good now?

[2021-10-06 04:58] kaiwalyakoparkar commented on #241
@UjjwalSinghDetexter Please don't raise a PR if the issue is not assigned. It's not a good practice.

[2021-10-06 05:23] UjjwalSinghDetexter commented on #241
@kaiwalyakoparkar Sorry, i will not do that again

[2021-10-06 05:26] UjjwalSinghDetexter commented on #241
@kaiwalyakoparkar you have assigned this issue to me, so should i raise a new pr or the one i did before is fine?

[2021-10-06 06:04] UjjwalSinghDetexter commented on #238
@kaiwalyakoparkar can you please assign this to me?

[2021-10-06 06:12] harkiratsm commented on #218
A person is already assigned for that 😄 , wait for more issues to come

[2021-10-06 10:23] Ankishoop commented on #214
![Screenshot (21)](https://user-images.githubusercontent.com/88278862/136185404-5cd64661-cfee-4f53-ab21-b9cdfdfe3e26.png)

is this is ok or not

[2021-10-06 13:18] Ankishoop commented on #146
![Screenshot (22)](https://user-images.githubusercontent.com/88278862/136209347-60e9e353-9135-4b3e-9302-1113c1a0e749.png)

![Screenshot (23)](https://user-images.githubusercontent.com/88278862/136209670-83661bc2-07df-4fa9-8d29-e89a719a37eb.png)

![Screenshot (24)](https://user-images.githubusercontent.com/88278862/136209484-3652d389-8f72-4aca-8d6d-601d32179172.png)

Hey have a look Is this is ok o

[2021-10-06 17:22] akash-kumar44 opened #269 "[Bug]: No proper margin b/w menu options and theme button"
### Describe the bug

- At some pixels (like 1216px and 900px )Theme Button is not at the proper margin from the menu options.

### To Reproduce

- Inspect elements
- Change Pixels to 1216 and 990
- Theme button is not at proper margin
![Screenshot (116)](https://user-images.githubusercontent.com/86745118/136252146-d31dde6b-4105-4478-ae17-b6c7e26bfca7.png)
![Screenshot (117)](https://user-images.g

[2021-10-07 17:03] shamilkotta opened #273 "[Bug]: Java + DSA + Interview Preparation Bootcamp content not upto date"
### Describe the bug

In "Java + DSA + Interview Preparation Bootcamp" the course contents (Topics) are only showing first 20 uploads. its already have 23 videos on playlist

### Screenshot/ Video

![Capture1](https://user-images.githubusercontent.com/64640025/136430925-e1c34a35-fec6-4a07-918b-6306502c0563.PNG)

[2021-10-07 17:03] ShaileshKumar007 opened #274 "[Feature]: Link to Notes and Assignments below videos of courses"
### Is your feature request related to a problem? Please describe.

I think it'll be good for users if the direct link of notes and assignments are provided with the videos of respective courses.

### Describe the solution you'd like

We can add a link of notes and assignments below the video which will redirect the user to the notes and assignments of the topic on a new tab.

### Describe alterna

[2021-10-10 14:11] pushpjain3 commented on #249
I have made a PR regarding this #278

[2021-10-10 15:43] thevinitgupta opened #279 "[Bug]: Not Adaptive to Some Screens"
### Describe the bug

Site does not adapt well for width range : `570px to 700px`

Bugs to report :

- Extra padding in the body
- Hamburger menu size is too small for good UX
- Suggestion : Light/Dark Mode button can be aligned vertically for enhanced UX

### To Reproduce

1. Go to [Community Classroom Home Page ](https://commclassroom.org/index.html)
2. Open the inspector `Ctrl+Shift+i`
3. Chang

[2021-10-11 03:55] irfan378 opened #280 "[Bug]: SEO of the website is bad."
### Describe the bug

it's search engine optimization needs to be improved.
i searched community classroom on google i couldn't find this site on first page.

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Desktop (please complete the following information)

_No response_

### Additional context

_No response_

[2021-10-11 08:30] #237 closed

[2021-10-11 12:42] Intelligent-Mosiac opened #282 "[spell check]: Corrected some errors in Code_of_Conduct.md"
### Is your feature request related to a problem? Please describe.

I rectified some errors that I felt were there in the .md file

### Describe the solution you'd like

I have made a pr  #272.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-14 06:32] harkiratsm opened #285 "Courses Page [ React ]"
### Is your feature request related to a problem? Please describe.

1) Create a Courses Page
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Make use of components
4) All the assets are provided in ```commclassroom/src/assets/static/react-web-designs/``` & ```commclassroom/src/assets/static/course-banners/```
5) Have Fun 😄 making this .
6) Design for this

[2021-10-15 08:21] lakshaycode22 commented on #285
I would like to work on this issue if its not assigned to anyone yet

[2021-10-15 10:19] harkiratsm commented on #285
```developement``` branch

[2021-10-15 10:21] harkiratsm commented on #285
@lakshaycode22 go ahead , if you require any help just tell me . 😄

[2021-10-15 18:27] UjjwalSinghDetexter commented on #241
@kaiwalyakoparkar i have mentioned issue in my pr please have a look.

[2021-10-18 15:27] nik132-eng opened #290 "Add more shadow in course section in white background"
### Is your feature request related to a problem? Please describe.

when i hover at the course section it didn't show perfectly upward or not get affected from my site.

### Describe the solution you'd like

I add more shadow and up hover effect.

### Describe alternatives you've considered

I can use other effects from bootstrap

### Additional context

_No response_

[2021-10-20 13:34] lakshaycode22 commented on #285
@DhruvParthasarathy Sure I will let you know

[2021-10-22 07:33] harkiratsm opened #292 "Footer Improvement [ React ]"
### Is your feature request related to a problem? Please describe.

1) Improve the Footer Design
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Make use of components
4) All the assets are provided in ```commclassroom/src/assets/static/react-web-designs/```
5) Have Fun 😄 making this .
6) Design for this is in ```commclassroom/design/light-theme/validation

[2021-10-23 15:27] harkiratsm opened #293 "NavBar Improvement [React]"
### Is your feature request related to a problem? Please describe.

1) Current Navbar is not functional , try to make it functional
2) Make it sticky also elevate the navbar so it looks cool  😄 .
3) We are using **tailwind css** , (so make sure you guys are using it in the Project)
4) Have Fun 😄 making this .
5) Current Navbar 👇

![image](https://user-images.githubusercontent.com/71957674/13856242

[2021-10-24 14:34] Shivansh-yadav13 opened #297 "[Bug]: Newsletter popup"
### Describe the bug

- The newsletter popup not disappearing after clicking on subscribe button

### To Reproduce

_No response_

### Expected Behavior

- The popup should disappear after clicking on the subscribe button

### Screenshot/ Video

![Screenshot 2021-10-24 200249](https://user-images.githubusercontent.com/87603425/138598748-d87865f6-ab5c-4a36-99c5-3c6449492a9c.png)

### Desktop (pleas

[2021-10-24 20:13] AbhinavMV opened #299 "[Bug]: Navigation Drawer auto hide after selection not working - In Mobile Screen"
### Describe the bug

In mobile screen navigation drawer is not hiding automatically after an item is selected.
For Example - In below screenshot after clicking on courses in the navigation drawer, it should hide automatically and show the courses section but it does not.

### To Reproduce

If on Desktop
1. Go to site
2. Press F11 or right click and select inspect
3. Change dimensions to MotoG4
4.

[2021-11-01 03:47] Rajat-Dabade commented on #297
Hello @Shivansh-yadav13, If this issue still exists, I can work on this issue. You can assign this issue to me.
Thank you.

[2021-11-01 04:56] Shivansh-yadav13 commented on #297
The issue still exists but you can ask @uttammanani if he is not working you can work on this issue.

[2021-11-02 16:45] ShaileshKumar007 opened #301 "[Bug]: Kunal's Instagram icon/link is not working"
### Describe the bug

In the founder section of the website, there is an option to connect with Kunal on Instagram but because he deleted his Instagram account therefore that icon is redirecting us to a page that does not exist.

### To Reproduce

1. Go to 'https://www.commclassroom.org/'
2. Scroll down to 'FOUNDER section'
3. Click on 'instagram icon'
4. See error

### Expected Behavior

Instagra

[2021-11-03 11:29] Shivansh-yadav13 commented on #297
@Rajat-Dabade , @uttammanani , anyone working on this?

[2021-11-03 11:42] uttammanani commented on #297
I am facing some issues with my laptop. Till then, if anyone want to work on it, can do it.

[2021-11-04 02:52] Rajat-Dabade commented on #297
Hello @Shivansh-yadav13 , You can assign this ticket to me. I will start working on it.
Thank you.

[2021-11-04 04:20] Shivansh-yadav13 commented on #297
I cannot assign, you can start working on it and make pr and mention this issue in your pr

[2021-11-04 04:34] Rajat-Dabade commented on #297
Hello @Shivansh-yadav13
When I push the latest code, I am seeing UI like thi
<img width="1430" alt="Screenshot 2021-11-04 at 10 02 51 AM" src="https://user-images.githubusercontent.com/26198062/140258465-33baccee-edce-45fe-8287-429e0c2d2f46.png">

Not able to find the Subscribe button.
Can you please help me with that?
Thank you.

[2021-11-04 04:53] Shivansh-yadav13 commented on #297
it's in the development branch.
you can use:-
`git clone --single-branch --branch development https://github.com/commclassroom/commclassroom.git`
to clone the dev branch and then push to the dev branch

[2021-11-04 06:19] Rajat-Dabade commented on #297
Hello @Shivansh-yadav13
I am facing this error which starting the project
<img width="1093" alt="Screenshot 2021-11-04 at 11 47 59 AM" src="https://user-images.githubusercontent.com/26198062/140266999-895d2743-07e7-4c55-b63f-839848746d83.png">

Can't resolve './Landingpage/Hero', I have checked it, This module is not present when I cloned the code.
Can you please confirm?
Thank you

[2021-11-04 07:45] Shivansh-yadav13 commented on #297
@Rajat-Dabade , I am also facing the same issue, do fix it if possible.

[2021-11-04 10:29] Rajat-Dabade commented on #297
Hello @Shivansh-yadav13, I can fix this for the sack of running the project locally, but that will be no fix for this solution.

[2021-11-06 14:29] RakeshPotnuru commented on #297
@Shivansh-yadav13, @Rajat-Dabade, @uttammanani
That website's (which you mentioned in the issue) source is closed source, you can't contribute to that website.

_But if you want, you can contribute to the upcoming website which is in the **development** branch._

[2021-11-06 14:31] RakeshPotnuru commented on #299
@AbhinavMV
That website's source is a closed source, you can't contribute to that website.

[2021-11-06 14:35] AbhinavMV commented on #299
oohh ok
@RakeshPotnuru  should i close this issue then ?
New to open source let me know what needs to be done.

[2021-11-06 14:39] RakeshPotnuru commented on #299
@AbhinavMV
Yes, you can close this issue.
If you want to contribute, you can contribute to the upcoming website which is in the **development** branch

[2021-11-06 14:44] #299 closed

[2021-11-06 16:50] Shivansh-yadav13 commented on #297
Ohk, then I will close this issue.

[2021-11-06 16:50] #297 closed

[2021-11-07 04:09] Rajat-Dabade commented on #301
Hello @ShaileshKumar007, you can assign this issue to me if no one is working on this issue.
Thank you.
Regards,
Rajat D

[2021-11-08 16:13] ShaileshKumar007 commented on #301
Thanks @Rajat-Dabade for showing interest in this issue but I've already made a PR for this.

[2021-11-10 08:18] RakeshPotnuru commented on #301
@ShaileshKumar007
That website is closed source, you can't contribute to that website and you made changes to a different website (previous website).

[2021-11-11 16:06] #147 closed

[2021-11-13 12:17] iamalishaikh commented on #301
Add new Instagram link

[2021-11-16 07:24] sparsh-kamat commented on #280
I think this bug is now solved and can be marked closed.
I googled it in an incognito tab so my search history should affect the results.

![Screenshot 2021-11-16 at 12 53 16 PM](https://user-images.githubusercontent.com/90212861/141939389-052ca96c-2c2c-4351-b26a-b2cc1f099b17.png)

[2021-11-16 14:42] #280 closed

[2021-11-16 14:46] irfan378 commented on #301
He has deleted his instagram account

[2021-11-16 14:49] irfan378 opened #307 "[Bug]: Scroll to form button not working"
### Describe the bug

Scroll to form button not working

### To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/82026975/142008037-b498b874-d6b4-4c7e-8c55-5fa4db7856b9.png)

### Desktop (please complete the following information)

Hp laptop 15s du3000
Operating System: Ubuntu(linux)

### Additional context

_

[2021-11-16 15:11] #301 closed

[2021-11-17 15:31] #307 closed

[2021-11-17 15:32] #292 closed

[2021-11-17 15:32] #290 closed

[2021-11-17 15:33] #279 closed

[2021-11-17 15:33] #274 closed

[2021-11-17 15:34] #273 closed

[2021-11-17 15:34] #269 closed

[2021-11-17 15:35] #263 closed

[2021-11-17 15:35] #249 closed

[2021-11-17 15:36] #246 closed

[2021-11-17 15:36] #243 closed

[2021-11-17 15:36] #242 closed

[2021-11-17 15:37] #238 closed

[2021-11-17 15:37] #214 closed

[2021-11-17 15:37] #208 closed

[2021-11-17 15:37] #195 closed

[2021-11-17 16:05] #25 closed

[2021-11-17 16:05] #29 closed

[2021-11-17 16:05] #30 closed

[2021-11-17 16:06] #31 closed

[2021-11-17 16:06] #32 closed

[2021-11-17 16:06] #33 closed

[2021-11-17 16:06] #34 closed

[2021-11-17 16:07] #35 closed

[2021-11-17 16:07] #37 closed

[2021-11-17 16:08] #38 closed

[2021-11-17 16:08] #40 closed

[2021-11-17 16:08] #41 closed

[2021-11-17 16:08] #42 closed

[2021-11-17 16:08] #43 closed

[2021-11-17 16:09] #44 closed

[2021-11-17 16:09] #45 closed

[2021-11-17 16:09] #46 closed

[2021-11-17 16:09] #47 closed

[2021-11-17 16:09] #48 closed

[2021-11-17 16:09] #49 closed

[2021-11-17 16:09] #50 closed

[2021-11-17 16:09] #51 closed

[2021-11-17 16:09] #52 closed

[2021-11-17 16:09] #53 closed

[2021-11-17 16:09] #54 closed

[2021-11-17 16:09] #55 closed

[2021-11-17 16:09] #56 closed

[2021-11-17 16:09] #57 closed

[2021-11-17 16:09] #58 closed

[2021-11-17 16:09] #59 closed

[2021-11-17 16:09] #60 closed

[2021-11-17 16:09] #61 closed

[2021-11-17 16:09] #62 closed

[2021-11-17 16:09] #63 closed

[2021-11-17 16:09] #64 closed

[2021-11-17 16:09] #65 closed

[2021-11-17 16:09] #66 closed

[2021-11-17 16:09] #67 closed

[2021-11-17 16:09] #68 closed

[2021-11-17 16:19] #69 closed

[2021-11-17 16:19] #70 closed

[2021-11-17 16:19] #71 closed

[2021-11-17 16:19] #72 closed

[2021-11-17 16:19] #73 closed

[2021-11-17 16:19] #138 closed

[2021-11-17 16:19] #141 closed

[2021-11-17 16:19] #146 closed

[2021-11-17 16:19] #157 closed

[2021-11-17 16:19] #161 closed

[2021-11-17 16:19] #167 closed

[2021-11-17 16:19] #168 closed

[2021-11-17 16:19] #178 closed

[2021-11-17 16:19] #180 closed

[2021-11-17 16:19] #187 closed

[2021-11-17 16:19] #204 closed

[2021-11-17 16:20] #189 closed

[2021-11-17 16:20] #202 closed

[2021-11-17 16:20] #206 closed

[2021-11-17 16:20] #207 closed

[2021-11-17 16:20] #241 closed

[2021-11-17 16:20] #252 closed

[2021-11-18 14:44] RakeshPotnuru commented on #292
@harkiratsm unpin this issue

[2021-11-19 09:04] SuperAayush opened #309 "[Bug]: Repetition of Speaker Section under cloudnativehack page"
### Describe the bug

On the website of commclassroom.org, in the page of cloudnativehack that is hackathon related to CloudNative in the section of speakers, there is the same type of cards related to the speakers getting repeated 3 times.

### To Reproduce

1. Go to 'commclassroom.org'.
2. Click on 'Hackathon' in the navbar or header.
3. Scroll down to 'Speakers' section.
4. See the repetition o

[2021-11-19 09:09] SuperAayush commented on #309
Assign me to solve this issue.

[2021-11-19 12:19] sparsh-kamat commented on #309
Tried this on chrome as well as edge cant seem to encounter this bug.
![Screenshot 2021-11-19 at 5 44 16 PM](https://user-images.githubusercontent.com/90212861/142621177-a01d969a-2b2a-4b5d-ac57-30af3bfb9245.png)
![Screenshot 2021-11-19 at 5 48 14 PM](https://user-images.githubusercontent.com/90212861/142621668-776ba599-af3f-4a9b-9e1d-eb14da852744.png)
)

[2021-11-19 13:05] SuperAayush commented on #309
Yeah it works fine now

[2021-11-19 13:05] #309 closed

[2021-11-21 10:02] #293 closed

[2021-11-22 04:26] DevanshKariya opened #310 "[Feature]: Smooth scrolling"
### Is your feature request related to a problem? Please describe.

When you click a nav link on the bar it takes you to the section swiftly .

### Describe the solution you'd like

What we can do is implement smooth scrolling, so that when we click the nav links it would take us to the section smoothly
which would look aesthetically pleasing.

### Describe alternatives you've considered

_No resp

[2021-11-23 19:04] DevanshKariya commented on #310
Hey, would you mind assigning me this issue. I would like to implement this feature.

[2021-11-27 09:50] #285 closed

[2021-11-27 11:24] harkiratsm opened #312 "Course Single Page"
### Is your feature request related to a problem? Please describe.

1) Create a Course Single Page Design
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Make use of components & make use of ```data``` folder .
4) All the assets are provided in ```commclassroom/src/assets/static/react-web-designs/```
5) Have Fun 😄 making this .
6) Design for this is in [he

[2021-11-27 11:31] harkiratsm opened #313 "Hero Page [ Responsiveness ]"
### Is your request related to a problem? Please describe.

1) Improve the Responsiveness
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Check the Design [here](https://www.figma.com/file/gGfPM3rV8x06dsss1ko3x7/Website?node-id=0%3A1)
4)  you need any help just tell me .
5) Current Hero page Look like 👇
![image](https://user-images.githubusercontent.com/71

[2021-11-27 11:35] harkiratsm opened #314 "Course page [Responsive]"
### Is your feature request related to a problem? Please describe.

1) Improve the Responsiveness
2) We are using **tailwind css** , (so make sure you guys are using it in the Project)
3) Check the Design [here](https://www.figma.com/file/gGfPM3rV8x06dsss1ko3x7/Website?node-id=0%3A1)
4)  you need any help just tell me .
5) Current Course page Look like 👇
![Uploading image.png…]()

### Describe the

[2021-11-27 11:37] harkiratsm opened #315 "Footer [ Responsive ]"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-27 11:52] harkiratsm opened #316 "Theme Button"
### Is your feature request related to a problem? Please describe.

1) A toggle dark / light button
2) We are using **tailwind css** ( So make sure you are using it )
3) To Checkout the Dark Mode Theme [check here](https://www.figma.com/file/gGfPM3rV8x06dsss1ko3x7/Website?node-id=0%3A1)
4) Color Palette
![image](https://user-images.githubusercontent.com/71957674/143679963-a7e83e5a-787b-4ea9-9b29-d

[2021-11-27 16:59] PuneetDabral commented on #315
hey can i do my first contribution here? but i need your support!! please assign it to me

[2021-11-30 05:07] PuneetDabral commented on #315
bhaiya i think it is already responsive...!

[2021-11-30 05:12] PuneetDabral commented on #315
bhaiya can you please help me to resolve this issue....?!

[2021-11-30 05:39] PuneetDabral commented on #315
![about](https://user-images.githubusercontent.com/86554356/143991886-4f24327b-b97f-400b-82bd-6e7c818f8b7e.png)
is that ok ...??

[2021-11-30 14:49] Shivansh-yadav13 commented on #316
I would like to contribute :)

[2021-12-01 13:02] Atharva9073 commented on #315
Hello Sir, I would like to work on it.

[2021-12-01 13:18] PuneetDabral commented on #315
@Atharva9073 can you please help me bro?

[2021-12-01 13:20] Atharva9073 commented on #315
Yeah sure, illustrate your problem.

[2021-12-01 13:21] PuneetDabral commented on #315
what i can do ? can you please explain...?

[2021-12-01 13:23] PuneetDabral commented on #315
i don't have much knowledge of tail wind css so i need your help to resolve this 😔

[2021-12-01 13:24] Atharva9073 commented on #315
I don't know, as like you I'm here to fix the issue which @harkiratsm has raised.

[2021-12-01 13:27] PuneetDabral commented on #315
ok bro ..

[2021-12-01 13:44] harkiratsm commented on #315
You can work on other issues there are many open in issues tab

[2021-12-01 13:45] atharvakanse commented on #315
Yeah Ok, thanks!

[2021-12-01 13:45] harkiratsm commented on #315
You can do whatever you want make sure to create a PR so that I can look at it .

[2021-12-03 12:37] atharvakanse commented on #315
Already the web pages are been made responsive, thanks for assigning them to me. I am leaving the task.

[2021-12-04 14:32] PadamSinha2511 commented on #313
Hey, I wanted to contribute to this issue but I wasn't able to find the mobile design for this page in the Figma file. Could you please help me with this?

[2021-12-04 15:36] IsomerX commented on #316
Hey, I am a react developer. I would like to add the theme button.
what I think the solution is:
A state should be maintained with the default set to light. A user can click the toggle button and change the state as per will.
To control the styling we should maintain either :=
1) Two css files and we would switch on each toggle
2) make 2 classes light and dark and append it to every component

Thi

[2021-12-04 15:43] IsomerX commented on #312
Hey @harkiratsm i would like to ask if there is an api from where we can get all the titles and underlying content titles for each section on the course page.

[2021-12-06 06:46] Shivansh-yadav13 commented on #316
Hey! @IsomerX , sure you can contribute and make a pr any time for the theme button 😃

[2021-12-06 06:50] Shivansh-yadav13 commented on #316
I am not that good with CSS 😅 but do anyone of you know what could be the reason for CSS variables not working for text theming.

![Screenshot 2021-12-06 121855](https://user-images.githubusercontent.com/87603425/144800551-7719f30d-3da0-43f8-ad6d-ba78ed502852.png)

[2021-12-06 13:43] harkiratsm commented on #312
@IsomerX  for now we are having a hard-coded data in ```data``` folder

[2021-12-06 13:45] harkiratsm commented on #313
@PadamSinha2511 go ahead with issue , make it responsive if you need any help just ping me

[2021-12-07 06:23] IsomerX commented on #316
Hey @harkiratsm I have added the toggle switch functionality and sent a PR, please review it!

[2021-12-07 06:24] IsomerX commented on #316
we can change the colors to be displayed so you dont need to worry about that!

[2021-12-07 12:47] Shivansh-yadav13 commented on #316
@IsomerX Noticed this after approving 😅, your PR is for the master branch but we are working for the development branch, you can push the changes in the development branch.

[2021-12-07 12:57] IsomerX commented on #316
Hey, Shivansh, can you instruct me how to do that? I am relatively new to
contributing, Thank You.

[2021-12-07 14:05] Shivansh-yadav13 commented on #316
You can just implement the same inside the react app in the development branch

[2021-12-07 14:40] PadamSinha2511 commented on #313
Hey, I couldn't find the package.json file to start the project. Could you please help me with this issue

[2021-12-10 17:23] sumitaccess007 opened #324 "Display Cross Button On Top Right Corner of Popup"
---
name: Display Enhancement
about: Move Cross Button on Top of Pop Up appears on first load of website
title: Display Cross Button On Top Right Corner of Popup
labels: bug
assignees: ''

---

**Describe the Bug**
Move Cross Button on Top of Pop Up appears on first load of website

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Load or re-fresh Website
2. Pop Up will appear
3. Move

[2021-12-11 05:55] Sujansinh-thakor opened #325 "wrong webpage title"
---
name: Bug report
about: Create a report to help us improve.
title: Bug report
labels: bug
assignees: ''

---

**Describe the Bug**
It shows DevOps in webpage title instead of Java or DSA in java ,for Data Structures & Algorithms in Java Course

**Steps to Reproduce**

Steps to reproduce the behavior:

1.
2.
3.
4.

**Expected Behavior**

**Actual Behavior**

**Screenshots**
![Screenshot (532)](

[2021-12-14 06:16] Deepa-chaurasiya01 commented on #314
Hey, @harkiratsm I'm extremely sorry could you please unassign me? as my examination is going on and I am not getting much time although I tried.

[2021-12-15 06:54] souviknsl07 opened #326 "The slider button in the course section is not hiding behind the navbar."
---
title: The slider button in the course section is not hiding behind the navbar.
labels: bug

---

**Describe the Bug**

The z-index of the navbar is less than the right-left slider button in the course section.

**Steps to Reproduce**

Steps to reproduce the behaviour:

1. Scroll down to the courses section.
2. Notice the navbar and the slider buttons.

**Expected Behavior**

The slider button

[2021-12-15 13:11] killerkc12 commented on #326
I would like to work on this

[2021-12-22 12:14] Shivansh-yadav13 commented on #316
@harkiratsm where are we going to put the theme btn?

[2021-12-23 14:15] Shivansh-yadav13 commented on #316
@IsomerX , do you want to implement and make a pr for the switch in the development branch ??

[2021-12-23 14:25] IsomerX commented on #316
@Shivansh-yadav13 I already sent a pr https://github.com/commclassroom/commclassroom/pull/323 here
you can check it out
its been quite a while since I have sent it actually

[2021-12-23 14:39] Shivansh-yadav13 commented on #316
Ohk mb 😅

[2022-01-03 07:59] Shivansh-yadav13 commented on #326
Actually, the z-index of the buttons is the same as the z-index of the navbar so we can remove the z-index class from the button because it is not needed.

[2022-01-03 08:06] Shivansh-yadav13 commented on #325
@Sujansinh-thakor ,  that website is not open source right now 😅

[2022-01-03 08:13] Sujansinh-thakor commented on #325
Yeah,I realized that after creating this issue but forgot to delete this issue ☺

[2022-01-03 08:13] #325 closed

[2022-01-07 07:46] SupriyaKumari08 commented on #314
Hi, @harkiratsm I think I can resolve this issue. Can you please assign it to me?

[2022-01-07 07:50] Kunal0220 commented on #313
Hi @harkiratsm , I would like to work on this issue , could you please assign it to me ?

[2022-01-07 08:58] kunalahuja06 commented on #324
Hello there, I would like to contribute to this issue.

[2022-01-11 06:56] Shivansh-yadav13 commented on #326
I would say you can work on this and make a pr

[2022-01-11 07:44] Shivansh-yadav13 commented on #324
@sumitaccess007 this website is not open sourced

[2022-01-12 11:11] mananmehta3 opened #331 "Title in Data Structures & Algorithms in Java page is named DevOps instead of its name"
---
name: Bug report
about: Create a report to help us improve.
title: Bug report
labels: bug
assignees: ''

---

**Describe the Bug**
Title in Data Structures & Algorithms in Java page is named DevOps instead of its name

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Change Title in the HTML file

**Screenshots**
![modified](https://user-images.githubusercontent.com/75382447/149129

[2022-01-12 11:11] mananmehta3 commented on #331
I would have solved it but I could not find the html page for this

[2022-01-12 11:55] NaincyKumariKnoldus commented on #331
Hello @mananmehta3 Can I solve this please!

[2022-01-12 11:56] mananmehta3 commented on #331
@NaincyKumariKnoldus ya why not, go ahead

[2022-01-12 11:58] NaincyKumariKnoldus commented on #331
But @mananmehta3 where is html page for this.

[2022-01-12 12:13] mananmehta3 commented on #331
Actually that’s the issue, I could not find the html page that’s why I created the issue or else I would have solved it. 😊

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 12 January 2022 17:28
To: ***@***.***>
Cc: Manan ***@***.***>; ***@***.***>
Subject: Re: [commclassroom/commclassroom] Title in Data Structures & Algorithms in Java page is na

[2022-01-12 12:46] NaincyKumariKnoldus commented on #331
Hey @mananmehta3 I found index.html file inside public folder in devlopment branch.
And I can see html file in master branch.

[2022-01-13 06:43] mananmehta3 commented on #331
@NaincyKumariKnoldus but the title in it is not DevOps.
There has to be some other html file for this

[2022-01-15 10:37] Shivansh-yadav13 commented on #331
@mananmehta3 this website is not open source

[2022-02-05 11:36] Sumit-Singh-8 commented on #312
Hi @harkiratsm  i am in open source and i want to contribute in it.

[2022-07-11 09:03] ojasaklechayt commented on #331
I think it is already solved.

[2022-07-31 13:46] hemanthkotaprolu opened #355 "Responsiveness of the website"
I am using ipad and while viewing the roadmaps, the texts are not in the correct positions.

[2022-07-31 13:58] rakshitgondwal opened #356 "Typo in the Backend Development Roadmap."
There is a typing error in the backend development roadmap.

Noge.js/Express -> Node.js/Express

![Screenshot (190)](https://user-images.githubusercontent.com/98955085/182029784-ac74ebdd-a40b-4e3d-a532-f474bdbf3157.png)

[2022-07-31 17:06] anveshdange opened #357 "Text Alignment issue in the Full Stack Development Roadmap."
I was wandering through the website : https://www.commclassroom.org/fullstack-roadmap
I found that the text is not aligned properly inside their containers.

<img width="1440" alt="Screenshot 2022-07-31 at 10 35 45 PM" src="https://user-images.githubusercontent.com/71324975/182037486-ef6c3eee-b874-4eb6-87df-b65647bc83a5.png">

[2022-08-01 16:49] RakeshSangem opened #358 "add GitPod button in README.md"
# Intro
Setting up the project on a local machine is never fun. So I recently learned about GitPod, a pretty great service by GitHub that allows us to work on and contribute to projects directly from the browser.

Therefore, I want to include the GitPod button in this project.

# Reference
![ezgif com-gif-maker](https://user-images.githubusercontent.com/107752425/182201188-fe4850f3-1688-47fd-876d-

[2022-08-08 20:50] #356 closed

[2022-08-09 05:40] ykhokhaneshiya commented on #358
@RakeshSangem , Added gitpod button in readme file:

https://github.com/commclassroom/commclassroom/pull/360

[2022-08-09 05:56] RakeshSangem commented on #358
Awesome!

It's best practice to wait until the maintainer assigns this to you. Someone might be working on it already. Next time, try raising an issue or informing the maintainer that you want to work on it.

[2022-08-09 06:38] ykhokhaneshiya commented on #358
@RakeshSangem , Sorry for this time! I will surely communicate before start working on anything.

[2022-08-09 06:40] RakeshSangem commented on #358
## Collaboration 1st, code 2nd! ❤

[2022-08-12 14:10] MadhuSaini22 commented on #357
@anveshdange I think this is designed in this manner only (not sure)
But if I'm wrong @praveenscience or any of this repo admin Please proceed this issue.
Do assign this task to me, wanted to work out.

[2022-08-12 14:30] MadhuSaini22 opened #361 "Social Icons can be improved"
---
name: social icons are not properly responsive
about: As you can see in the video clip social icons are not mobile responsive, we can improve these icons and can aligned them properly.
title: UI FIX
labels: UI fix
assignees:  You can assign me

---

**Expected Behavior**

We can position them side by side, that will be good user experience.

**Actual Behavior**

Icons are aligned one after eac

[2022-08-13 04:49] PradeepRaoK opened #364 "Git documentation has link to wrong resource in open source roadmap"

[2022-08-19 17:34] ameeetgaikwad opened #366 "Spelling wrong in the blockchain roadmap"
"proof of stake" should be written instead of "proof of stack"

[2022-08-20 00:56] sanyamjain04 opened #367 "Discord invite link Expired"
---
name: Discord Link Expired
about: The discord invite link on the homepage is expired.
title: Bug report
labels: bug
assignees: ''I wanted to create a PR for this '

---

**Describe the Bug**
The discord invite link on the home page is expired.

I am creating a PR for this.

**Expected Behavior**

![image](https://user-images.githubusercontent.com/107163858/185722581-f94bb7f6-95ca-429e-8eb8-3e5

[2022-08-20 06:29] inzamamahmad3 opened #370 "Blockchain Roadmap Solidity Link is taking you to a song"
In the roadmap section solidity docs link is not working it is taking you to a song

[2022-08-20 13:31] haldaranup commented on #364
@shivaylamba can I work on this issue?

[2022-08-20 13:35] haldaranup commented on #370
@YashKumarVerma can I work on this issue?

[2022-08-20 13:47] shivaylamba commented on #364
Yes definitely @haldaranup

[2022-08-20 14:24] inzamamahmad3 commented on #370
Can I work on that?

[2022-08-20 16:06] haldaranup commented on #364
I tried hard but the error kept coming
(tried deleting node_modules as well)
Error: Cannot find module 'cross-spawn'
@shivaylamba can you please help

[2022-08-20 16:09] shivaylamba commented on #364
Did you install the cross-spawn node mdoule
` npm i cross-spawn`

[2022-08-20 16:11] haldaranup commented on #364
Yes I did that as well

[2022-08-20 16:13] shivaylamba commented on #364
Do you mind the sharing the full error trace here?

[2022-08-20 16:21] haldaranup commented on #364
![Screenshot 2022-08-20 214855](https://user-images.githubusercontent.com/76952588/185756565-594d74b6-0770-409e-b1c9-25f2a769e4a4.png)

[2022-08-20 16:22] shivaylamba commented on #364
Can you do a global install for this package?
npm i -g cross-spawn

[2022-08-20 16:27] haldaranup commented on #364
Still same error

[2022-08-20 16:33] shivaylamba commented on #364
you can try to uninstall Node.js and do a clean installation again and check if that fixes.
OR
remove the current node modules folder and do a clean npm install again
OR
try to use npm-link https://docs.npmjs.com/cli/v8/commands/npm-link

[2022-08-20 16:37] haldaranup commented on #364
Thank you so much for you valuable time @shivaylamba

[2022-08-20 18:30] haldaranup commented on #364
@shivaylamba thank you issue resolved
The website I forked is totally different from the original one commclassroom.org, I am confused could you please help

[2022-08-20 18:33] haldaranup commented on #370
@inzamamahmad3 is your forked repo shows the actual website of commclassroom or its different?

[2022-08-21 02:39] inzamamahmad3 commented on #370
On Sat, 20 Aug 2022 at 11:33 PM, Anup Haldar ***@***.***>
wrote:

no right now is same

[2022-08-21 05:51] notafk-rajat opened #371 "Missing roadmap option from the navbar on homepage."
<img width="1080" alt="commclassroom" src="https://user-images.githubusercontent.com/84857474/185777596-d666337e-3832-44c8-bac6-5c899c8f7df5.png">

Check this image

[2022-08-22 15:02] SD-13 opened #372 "Link in opensourcefest is not working"
**Steps to find the link**

1. Go to this page

2. Scroll a bit as shown in this screenshot.

![Screenshot from 2022-08-22 20-17-12](https://user-images.githubusercontent.com/89520981/185952883-f64827bf-ae3f-4b12-abad-5faeb12c4e35.png)
3. Click on **this video**
4. See the error (for me it's showing the video is unavailable).

[2022-08-22 16:34] #372 closed

[2022-08-23 05:29] nisabmohd commented on #355
I would love to work on responsiveness of website

[2022-08-23 18:49] Divyansh07-rex opened #374 "Website Wierd Scrolling Behaviour"
On the Roadmap page of the website when visiting from smartphone , the scrolling and zooming is not working on many of the roadmaps.

Only the pages of Back End , Full Stack Development, DevRel roadmaps zooming and scrolling on the page is working fine.

For better and clear understanding I am attaching the area where issue is present .

![Screenshot_20220824-001218_Brave.png](https://user-images.

[2022-08-26 17:30] itsmenikhill opened #375 "Wrong spelling for "introduction" on the Data Structures & Algorithms + Interview Preparation page."
On the 'Java + Data Structures & Algorithms + Interview Preparation' page of the website, "introduction" is spelled "introductiob".

![Screenshot 2022-08-26 225833](https://user-images.githubusercontent.com/44477975/186959836-3a383ec7-134f-474d-a3be-3374ed143187.png)

[2022-08-28 08:14] AmanGit010 opened #377 "Wrong Link added under Android Roadmap -> Introduction to Kotlin -> Kotlin in 12 minutes on the Comm Classroom website."
Current Link takes us to Android studio Installation video by Rahul Pandey -> (https://www.youtube.com/watch?v=4M0hNugPJV8&ab_channel=RahulPandey)

Correct Link for Kotlin in 12 minutes video by Rahul Pandey -> (https://www.youtube.com/watch?v=iYrgWO2oibY&t=9s&ab_channel=RahulPandey)

[2022-08-28 13:13] SaadAnsari17 commented on #377
Raise the issue in the roadmaps repo (https://github.com/commclassroom/roadmaps) so that it can be resolved quickly.

[2022-08-28 14:58] AmanGit010 commented on #377
Alright, Thanks.

[2022-08-28 14:58] #377 closed

[2022-09-01 14:29] AmanGit010 commented on #370
There is no issue in the Solidity docs link, it is working perfectly

[2022-09-01 14:32] AmanGit010 commented on #375
Till now i am unable to find this in the codebase, does anyone know where is this particular div ?

[2022-09-10 11:57] #366 closed

[2022-09-17 13:39] muneeb-i-khan opened #382 "Minor issue with resource links in Backend Development Roadmap"
In Backend Development roadmap, under JavaScript and Js Tutorials, resource link 5 and 7 point to same course.
You can check it here => [https://www.commclassroom.org/backend-roadmap](url).

[2022-09-17 16:53] beingtechsavy opened #383 "Typo in What we offer section of hashnode blogging in events tab ."
I was following the steps today to participate in the hashnode competition. and encountered the typo.
I tried but couldnt find where the text was written. It is just a grammar mistake but it means we can improve on it.
It should be "providing".
Hope anyone helps.
I like the initiative by Kunal sir.

[2022-09-19 15:25] Parth-ops opened #384 "Making the README.md more concise and fixing the punctuation errors."
---
name: Modifying README.md to make it more concise and readable.
about: Documentation
title: Modifying README
labels: feature
assignees: ''

---

**Is your feature request related to a problem? Please describe.**

The current README.md file has punctuation errors at line 7. Line 3 and 4 can be written more concisely to produce the same meaning.

![BEFORE-CC](https://user-images.githubuserconten

[2022-09-19 18:44] emAyush56 opened #386 "About and Team link should modified to the correct section id in the footer section"
---
name: Modify the About and Team link in the footer section to the correct section ids
about: Footer links
title: Modify footer links
labels: bug
assignees: ''

---

The About and Team links under ORGANIZATION in the footer section are incorrect.
1. The About link should be changed to the ABOUT US section with ID **_srl33rlx5**, and
2. The Team link should be linked to the Meet Our Team section

[2022-09-21 11:45] roopeshsn commented on #386
I would like to work on this issue.

[2022-09-23 16:42] deep1910 opened #387 "Duplicate link in backend dev roadmap of JS tutorials of resource 5 and resource 7"
---
name: Bug report
about: Create a report to help us improve.
title: Bug report
labels: bug
assignees: ''

---

**Describe the Bug**
Repetation of link to  the same resource , resource 5 and resource 7 of JS tutorials of backend development roadmap points to the same resource

both the resource links to the net ninga nodejs tutorial

**Steps to Reproduce**

Steps to reproduce the behavior:

1.
2

[2022-09-23 16:46] deep1910 commented on #387
sorry this issues is already created

[2022-09-23 16:46] #387 closed

[2022-09-26 15:28] AforAbhi opened #388 "Link crashed in frontend dev roadmap (CS50's Understanding technologies)"
In the frontend development roadmap the link to the "CS50's Understanding technologies"
redirects to
 "https://youtu.be/n_KghQP86Sw"
but it should redirect to
 "https://www.youtube.com/watch?v=n_KghQP86Sw"

[2022-09-29 03:33] abhishekkmukherjee commented on #388
Is this still open? I want to work in it.

[2022-09-29 03:34] abhishekkmukherjee commented on #386
Ya I am facing the same issue

[2022-10-02 13:44] #364 closed

[2022-10-02 17:04] hemantwasthere commented on #388
Hey maintainers, I want to work on this issue

[2022-10-03 04:37] Raghav2305 opened #389 "Typo in the Hashnode blogging Challenge Page"
### I was checking out the Hashnode blogging challenge on the website and came across a typo on the hashnode page in the events section.

- The typo is "we will be provide resources."
- Instead, it needs to be "we will be providing resources."

I tried to find the issue in the codebase of the website but couldn't find it. It kept redirecting me to "app.kartra.com" and this is nowhere to be found i

[2022-10-07 07:36] cmaguluri1305 commented on #389
just Inspect and try to find the code

[2022-10-07 10:43] Raghav2305 commented on #389
I did, but the specific page is nowhere in the codebase...

[2022-10-08 17:04] ManishBisht777 commented on #313
hi want to work on this issue if anyone not doing it